extends app layout
block content
    script(src='js/application.js')
    -var date = 0;
    -var kingSel = ['태조(太祖)1392~1398年','정종(定宗)1398~1400年','태종(太宗)1400~1418年','세종(世宗)1418~1450年','문종(文宗)1450~1452年','단종(端宗)1452~1455年','세조(世祖)1455~1468年','예종(睿宗)1468~1469年','성종(成宗)1469~1494年','연산(燕山)1494~1506年','중종(中宗)1506~1544年','인종(仁宗)1544~1545年','명종(明宗)1545~1567年','선조(宣祖)1567~1608年','광해(光海)1608~1623年','인조(仁祖)1623~1649年','효종(孝宗)1649~1659年','현종(顯宗)1659~1674年','숙종(肅宗)1674~1720年','경종(景宗)1720~1724年','영조(英祖)1724~1776年','정조(正祖)1776~1800年','순조(純祖)1800~1834年','헌종(憲宗)1834~1849年','철종(哲宗)1849~1863年','고종(高宗)1863~1907年','순종(純宗)1907~1910年']
    -var kingVal = ['太祖','定廟','太宗','世宗','文廟','端廟','世祖','睿廟','成廟','燕山','中廟','仁宗','明廟','宣廟','光海','仁廟','孝廟','顯廟','肅廟','景廟','英廟','正廟','純廟','憲廟','哲廟','高廟','純宗']
    -var yearSel = ['1204년 갑자','1205년 을축','1206년 병인','1207년 정묘','1208년 무진','1209년 기사','1210년 경오','1211년 신미','1212년 임신','1213년 계유','1214년 갑술','1215년 을해','1216년 병자','1217년 정축','1218년 무인','1219년 기묘','1220년 경진','1221년 신사','1222년 임오','1223년 계미','1224년 갑신','1225년 을유','1226년 병술','1227년 정해','1228년 무자','1229년 기축','1230년 경인','1231년 신묘','1232년 임진','1233년 계사','1234년 갑오','1235년 을미','1236년 병신','1237년 정유','1238년 무술','1239년 기해','1240년 경자','1241년 신축','1242년 임인','1243년 계묘','1244년 갑진','1245년 을사','1246년 병오','1247년 정미','1248년 무신','1249년 기유','1250년 경술','1251년 신해','1252년 임자','1253년 계축','1254년 갑인','1255년 을묘','1256년 병진','1257년 정사','1258년 무오','1259년 기미','1260년 경신','1261년 신유','1262년 임술','1263년 계해','1264년 갑자','1265년 을축','1266년 병인','1267년 정묘','1268년 무진','1269년 기사','1270년 경오','1271년 신미','1272년 임신','1273년 계유','1274년 갑술','1275년 을해','1276년 병자','1277년 정축','1278년 무인','1279년 기묘','1280년 경진','1281년 신사','1282년 임오','1283년 계미','1284년 갑신','1285년 을유','1286년 병술','1287년 정해','1288년 무자','1289년 기축','1290년 경인','1291년 신묘','1292년 임진','1293년 계사','1294년 갑오','1295년 을미','1296년 병신','1297년 정유','1298년 무술','1299년 기해','1300년 경자','1301년 신축','1302년 임인','1303년 계묘','1304년 갑진','1305년 을사','1306년 병오','1307년 정미','1308년 무신','1309년 기유','1310년 경술','1311년 신해','1312년 임자','1313년 계축','1314년 갑인','1315년 을묘','1316년 병진','1317년 정사','1318년 무오','1319년 기미','1320년 경신','1321년 신유','1322년 임술','1323년 계해','1324년 갑자','1325년 을축','1326년 병인','1327년 정묘','1328년 무진','1329년 기사','1330년 경오','1331년 신미','1332년 임신','1333년 계유','1334년 갑술','1335년 을해','1336년 병자','1337년 정축','1338년 무인','1339년 기묘','1340년 경진','1341년 신사','1342년 임오','1343년 계미','1344년 갑신','1345년 을유','1346년 병술','1347년 정해','1348년 무자','1349년 기축','1350년 경인','1351년 신묘','1352년 임진','1353년 계사','1354년 갑오','1355년 을미','1356년 병신','1357년 정유','1358년 무술','1359년 기해','1360년 경자','1361년 신축','1362년 임인','1363년 계묘','1364년 갑진','1365년 을사','1366년 병오','1367년 정미','1368년 무신','1369년 기유','1370년 경술','1371년 신해','1372년 임자','1373년 계축','1374년 갑인','1375년 을묘','1376년 병진','1377년 정사','1378년 무오','1379년 기미','1380년 경신','1381년 신유','1382년 임술','1383년 계해','1384년 갑자','1385년 을축','1386년 병인','1387년 정묘','1388년 무진','1389년 기사','1390년 경오','1391년 신미','1392년 임신','1393년 계유','1394년 갑술','1395년 을해','1396년 병자','1397년 정축','1398년 무인','1399년 기묘','1400년 경진','1401년 신사','1402년 임오','1403년 계미','1404년 갑신','1405년 을유','1406년 병술','1407년 정해','1408년 무자','1409년 기축','1410년 경인','1411년 신묘','1412년 임진','1413년 계사','1414년 갑오','1415년 을미','1416년 병신','1417년 정유','1418년 무술','1419년 기해','1420년 경자','1421년 신축','1422년 임인','1423년 계묘','1424년 갑진','1425년 을사','1426년 병오','1427년 정미','1428년 무신','1429년 기유','1430년 경술','1431년 신해','1432년 임자','1433년 계축','1434년 갑인','1435년 을묘','1436년 병진','1437년 정사','1438년 무오','1439년 기미','1440년 경신','1441년 신유','1442년 임술','1443년 계해','1444년 갑자','1445년 을축','1446년 병인','1447년 정묘','1448년 무진','1449년 기사','1450년 경오','1451년 신미','1452년 임신','1453년 계유','1454년 갑술','1455년 을해','1456년 병자','1457년 정축','1458년 무인','1459년 기묘','1460년 경진','1461년 신사','1462년 임오','1463년 계미','1464년 갑신','1465년 을유','1466년 병술','1467년 정해','1468년 무자','1469년 기축','1470년 경인','1471년 신묘','1472년 임진','1473년 계사','1474년 갑오','1475년 을미','1476년 병신','1477년 정유','1478년 무술','1479년 기해','1480년 경자','1481년 신축','1482년 임인','1483년 계묘','1484년 갑진','1485년 을사','1486년 병오','1487년 정미','1488년 무신','1489년 기유','1490년 경술','1491년 신해','1492년 임자','1493년 계축','1494년 갑인','1495년 을묘','1496년 병진','1497년 정사','1498년 무오','1499년 기미','1500년 경신','1501년 신유','1502년 임술','1503년 계해','1504년 갑자','1505년 을축','1506년 병인','1507년 정묘','1508년 무진','1509년 기사','1510년 경오','1511년 신미','1512년 임신','1513년 계유','1514년 갑술','1515년 을해','1516년 병자','1517년 정축','1518년 무인','1519년 기묘','1520년 경진','1521년 신사','1522년 임오','1523년 계미','1524년 갑신','1525년 을유','1526년 병술','1527년 정해','1528년 무자','1529년 기축','1530년 경인','1531년 신묘','1532년 임진','1533년 계사','1534년 갑오','1535년 을미','1536년 병신','1537년 정유','1538년 무술','1539년 기해','1540년 경자','1541년 신축','1542년 임인','1543년 계묘','1544년 갑진','1545년 을사','1546년 병오','1547년 정미','1548년 무신','1549년 기유','1550년 경술','1551년 신해','1552년 임자','1553년 계축','1554년 갑인','1555년 을묘','1556년 병진','1557년 정사','1558년 무오','1559년 기미','1560년 경신','1561년 신유','1562년 임술','1563년 계해','1564년 갑자','1565년 을축','1566년 병인','1567년 정묘','1568년 무진','1569년 기사','1570년 경오','1571년 신미','1572년 임신','1573년 계유','1574년 갑술','1575년 을해','1576년 병자','1577년 정축','1578년 무인','1579년 기묘','1580년 경진','1581년 신사','1582년 임오','1583년 계미','1584년 갑신','1585년 을유','1586년 병술','1587년 정해','1588년 무자','1589년 기축','1590년 경인','1591년 신묘','1592년 임진','1593년 계사','1594년 갑오','1595년 을미','1596년 병신','1597년 정유','1598년 무술','1599년 기해','1600년 경자','1601년 신축','1602년 임인','1603년 계묘','1604년 갑진','1605년 을사','1606년 병오','1607년 정미','1608년 무신','1609년 기유','1610년 경술','1611년 신해','1612년 임자','1613년 계축','1614년 갑인','1615년 을묘','1616년 병진','1617년 정사','1618년 무오','1619년 기미','1620년 경신','1621년 신유','1622년 임술','1623년 계해','1624년 갑자','1625년 을축','1626년 병인','1627년 정묘','1628년 무진','1629년 기사','1630년 경오','1631년 신미','1632년 임신','1633년 계유','1634년 갑술','1635년 을해','1636년 병자','1637년 정축','1638년 무인','1639년 기묘','1640년 경진','1641년 신사','1642년 임오','1643년 계미','1644년 갑신','1645년 을유','1646년 병술','1647년 정해','1648년 무자','1649년 기축','1650년 경인','1651년 신묘','1652년 임진','1653년 계사','1654년 갑오','1655년 을미','1656년 병신','1657년 정유','1658년 무술','1659년 기해','1660년 경자','1661년 신축','1662년 임인','1663년 계묘','1664년 갑진','1665년 을사','1666년 병오','1667년 정미','1668년 무신','1669년 기유','1670년 경술','1671년 신해','1672년 임자','1673년 계축','1674년 갑인','1675년 을묘','1676년 병진','1677년 정사','1678년 무오','1679년 기미','1680년 경신','1681년 신유','1682년 임술','1683년 계해','1684년 갑자','1685년 을축','1686년 병인','1687년 정묘','1688년 무진','1689년 기사','1690년 경오','1691년 신미','1692년 임신','1693년 계유','1694년 갑술','1695년 을해','1696년 병자','1697년 정축','1698년 무인','1699년 기묘','1700년 경진','1701년 신사','1702년 임오','1703년 계미','1704년 갑신','1705년 을유','1706년 병술','1707년 정해','1708년 무자','1709년 기축','1710년 경인','1711년 신묘','1712년 임진','1713년 계사','1714년 갑오','1715년 을미','1716년 병신','1717년 정유','1718년 무술','1719년 기해','1720년 경자','1721년 신축','1722년 임인','1723년 계묘','1724년 갑진','1725년 을사','1726년 병오','1727년 정미','1728년 무신','1729년 기유','1730년 경술','1731년 신해','1732년 임자','1733년 계축','1734년 갑인','1735년 을묘','1736년 병진','1737년 정사','1738년 무오','1739년 기미','1740년 경신','1741년 신유','1742년 임술','1743년 계해','1744년 갑자','1745년 을축','1746년 병인','1747년 정묘','1748년 무진','1749년 기사','1750년 경오','1751년 신미','1752년 임신','1753년 계유','1754년 갑술','1755년 을해','1756년 병자','1757년 정축','1758년 무인','1759년 기묘','1760년 경진','1761년 신사','1762년 임오','1763년 계미','1764년 갑신','1765년 을유','1766년 병술','1767년 정해','1768년 무자','1769년 기축','1770년 경인','1771년 신묘','1772년 임진','1773년 계사','1774년 갑오','1775년 을미','1776년 병신','1777년 정유','1778년 무술','1779년 기해','1780년 경자','1781년 신축','1782년 임인','1783년 계묘','1784년 갑진','1785년 을사','1786년 병오','1787년 정미','1788년 무신','1789년 기유','1790년 경술','1791년 신해','1792년 임자','1793년 계축','1794년 갑인','1795년 을묘','1796년 병진','1797년 정사','1798년 무오','1799년 기미','1800년 경신','1801년 신유','1802년 임술','1803년 계해','1804년 갑자','1805년 을축','1806년 병인','1807년 정묘','1808년 무진','1809년 기사','1810년 경오','1811년 신미','1812년 임신','1813년 계유','1814년 갑술','1815년 을해','1816년 병자','1817년 정축','1818년 무인','1819년 기묘','1820년 경진','1821년 신사','1822년 임오','1823년 계미','1824년 갑신','1825년 을유','1826년 병술','1827년 정해','1828년 무자','1829년 기축','1830년 경인','1831년 신묘','1832년 임진','1833년 계사','1834년 갑오','1835년 을미','1836년 병신','1837년 정유','1838년 무술','1839년 기해','1840년 경자','1841년 신축','1842년 임인','1843년 계묘','1844년 갑진','1845년 을사','1846년 병오','1847년 정미','1848년 무신','1849년 기유','1850년 경술','1851년 신해','1852년 임자','1853년 계축','1854년 갑인','1855년 을묘','1856년 병진','1857년 정사','1858년 무오','1859년 기미','1860년 경신','1861년 신유','1862년 임술','1863년 계해','1864년 갑자','1865년 을축','1866년 병인','1867년 정묘','1868년 무진','1869년 기사','1870년 경오','1871년 신미','1872년 임신','1873년 계유','1874년 갑술','1875년 을해','1876년 병자','1877년 정축','1878년 무인','1879년 기묘','1880년 경진','1881년 신사','1882년 임오','1883년 계미','1884년 갑신','1885년 을유','1886년 병술','1887년 정해','1888년 무자','1889년 기축','1890년 경인','1891년 신묘','1892년 임진','1893년 계사','1894년 갑오','1895년 을미','1896년 병신','1897년 정유','1898년 무술','1899년 기해','1900년 경자','1901년 신축','1902년 임인','1903년 계묘','1904년 갑진','1905년 을사','1906년 병오','1907년 정미','1908년 무신','1909년 기유','1910년 경술','1911년 신해','1912년 임자','1913년 계축','1914년 갑인','1915년 을묘','1916년 병진','1917년 정사','1918년 무오','1919년 기미','1920년 경신','1921년 신유','1922년 임술','1923년 계해','1924년 갑자','1925년 을축','1926년 병인','1927년 정묘','1928년 무진','1929년 기사','1930년 경오','1931년 신미','1932년 임신','1933년 계유','1934년 갑술','1935년 을해','1936년 병자','1937년 정축','1938년 무인','1939년 기묘','1940년 경진','1941년 신사','1942년 임오','1943년 계미','1944년 갑신','1945년 을유','1946년 병술','1947년 정해','1948년 무자','1949년 기축','1950년 경인','1951년 신묘','1952년 임진','1953년 계사','1954년 갑오','1955년 을미','1956년 병신','1957년 정유','1958년 무술','1959년 기해','1960년 경자','1961년 신축','1962년 임인','1963년 계묘','1964년 갑진','1965년 을사','1966년 병오','1967년 정미','1968년 무신','1969년 기유','1970년 경술','1971년 신해','1972년 임자','1973년 계축','1974년 갑인','1975년 을묘','1976년 병진','1977년 정사','1978년 무오','1979년 기미','1980년 경신','1981년 신유','1982년 임술','1983년 계해','1984년 갑자','1985년 을축','1986년 병인','1987년 정묘','1988년 무진','1989년 기사','1990년 경오','1991년 신미','1992년 임신','1993년 계유','1994년 갑술','1995년 을해','1996년 병자','1997년 정축','1998년 무인','1999년 기묘','2000년 경진','2001년 신사','2002년 임오','2003년 계미','2004년 갑신','2005년 을유','2006년 병술','2007년 정해','2008년 무자','2009년 기축','2010년 경인','2011년 신묘','2012년 임진','2013년 계사','2014년 갑오','2015년 을미','2016년 병신','2017년 정유','2018년 무술','2019년 기해','2020년 경자','2021년 신축','2022년 임인','2023년 계묘','2024년 갑진','2025년 을사','2026년 병오','2027년 정미','2028년 무신','2029년 기유','2030년 경술','2031년 신해','2032년 임자','2033년 계축','2034년 갑인','2035년 을묘','2036년 병진','2037년 정사','2038년 무오','2039년 기미','2040년 경신','2041년 신유','2042년 임술','2043년 계해','2044년 갑자','2045년 을축','2046년 병인','2047년 정묘','2048년 무진','2049년 기사','2050년 경오','2051년 신미','2052년 임신','2053년 계유','2054년 갑술','2055년 을해','2056년 병자','2057년 정축','2058년 무인','2059년 기묘','2060년 경진','2061년 신사','2062년 임오','2063년 계미','2064년 갑신','2065년 을유','2066년 병술','2067년 정해','2068년 무자','2069년 기축','2070년 경인','2071년 신묘','2072년 임진','2073년 계사','2074년 갑오','2075년 을미','2076년 병신','2077년 정유','2078년 무술','2079년 기해','2080년 경자','2081년 신축','2082년 임인','2083년 계묘','2084년 갑진','2085년 을사','2086년 병오','2087년 정미','2088년 무신','2089년 기유','2090년 경술','2091년 신해','2092년 임자','2093년 계축','2094년 갑인','2095년 을묘','2096년 병진','2097년 정사','2098년 무오','2099년 기미','2100년 경신','2101년 신유','2102년 임술','2103년 계해','2104년 갑자','2105년 을축','2106년 병인','2107년 정묘','2108년 무진','2109년 기사','2110년 경오','2111년 신미','2112년 임신','2113년 계유','2114년 갑술','2115년 을해','2116년 병자','2117년 정축','2118년 무인','2119년 기묘','2120년 경진','2121년 신사','2122년 임오','2123년 계미','2124년 갑신','2125년 을유','2126년 병술','2127년 정해','2128년 무자','2129년 기축','2130년 경인','2131년 신묘','2132년 임진','2133년 계사','2134년 갑오','2135년 을미','2136년 병신','2137년 정유','2138년 무술','2139년 기해','2140년 경자','2141년 신축','2142년 임인','2143년 계묘','2144년 갑진','2145년 을사','2146년 병오','2147년 정미','2148년 무신','2149년 기유','2150년 경술','2151년 신해','2152년 임자','2153년 계축','2154년 갑인','2155년 을묘','2156년 병진','2157년 정사','2158년 무오','2159년 기미','2160년 경신','2161년 신유','2162년 임술','2163년 계해','2164년 갑자','2165년 을축','2166년 병인','2167년 정묘','2168년 무진','2169년 기사','2170년 경오','2171년 신미','2172년 임신','2173년 계유','2174년 갑술','2175년 을해','2176년 병자','2177년 정축','2178년 무인','2179년 기묘','2180년 경진','2181년 신사','2182년 임오','2183년 계미','2184년 갑신','2185년 을유','2186년 병술','2187년 정해','2188년 무자','2189년 기축','2190년 경인','2191년 신묘','2192년 임진','2193년 계사','2194년 갑오','2195년 을미','2196년 병신','2197년 정유','2198년 무술','2199년 기해','2200년 경자','2201년 신축','2202년 임인','2203년 계묘','2204년 갑진','2205년 을사','2206년 병오','2207년 정미','2208년 무신','2209년 기유','2210년 경술','2211년 신해','2212년 임자','2213년 계축','2214년 갑인','2215년 을묘','2216년 병진','2217년 정사','2218년 무오','2219년 기미','2220년 경신','2221년 신유','2222년 임술','2223년 계해','2224년 갑자','2225년 을축','2226년 병인','2227년 정묘','2228년 무진','2229년 기사','2230년 경오','2231년 신미','2232년 임신','2233년 계유','2234년 갑술','2235년 을해','2236년 병자','2237년 정축','2238년 무인','2239년 기묘','2240년 경진','2241년 신사','2242년 임오','2243년 계미','2244년 갑신','2245년 을유','2246년 병술','2247년 정해','2248년 무자','2249년 기축','2250년 경인','2251년 신묘','2252년 임진','2253년 계사','2254년 갑오','2255년 을미','2256년 병신','2257년 정유','2258년 무술','2259년 기해','2260년 경자','2261년 신축','2262년 임인','2263년 계묘','2264년 갑진','2265년 을사','2266년 병오','2267년 정미','2268년 무신','2269년 기유','2270년 경술','2271년 신해','2272년 임자','2273년 계축','2274년 갑인','2275년 을묘','2276년 병진','2277년 정사','2278년 무오','2279년 기미','2280년 경신','2281년 신유','2282년 임술','2283년 계해','2284년 갑자','2285년 을축','2286년 병인','2287년 정묘','2288년 무진','2289년 기사','2290년 경오','2291년 신미','2292년 임신','2293년 계유','2294년 갑술','2295년 을해','2296년 병자','2297년 정축','2298년 무인','2299년 기묘','2300년 경진','2301년 신사','2302년 임오','2303년 계미','2304년 갑신','2305년 을유','2306년 병술','2307년 정해','2308년 무자','2309년 기축','2310년 경인','2311년 신묘','2312년 임진','2313년 계사','2314년 갑오','2315년 을미','2316년 병신','2317년 정유','2318년 무술','2319년 기해','2320년 경자','2321년 신축','2322년 임인','2323년 계묘','2324년 갑진','2325년 을사','2326년 병오','2327년 정미','2328년 무신','2329년 기유','2330년 경술','2331년 신해','2332년 임자','2333년 계축','2334년 갑인','2335년 을묘','2336년 병진','2337년 정사','2338년 무오','2339년 기미','2340년 경신','2341년 신유','2342년 임술','2343년 계해','2344년 갑자','2345년 을축','2346년 병인','2347년 정묘','2348년 무진','2349년 기사','2350년 경오','2351년 신미','2352년 임신','2353년 계유','2354년 갑술','2355년 을해','2356년 병자','2357년 정축','2358년 무인','2359년 기묘','2360년 경진','2361년 신사','2362년 임오','2363년 계미','2364년 갑신','2365년 을유','2366년 병술','2367년 정해','2368년 무자','2369년 기축','2370년 경인','2371년 신묘','2372년 임진','2373년 계사','2374년 갑오','2375년 을미','2376년 병신','2377년 정유','2378년 무술','2379년 기해','2380년 경자','2381년 신축','2382년 임인','2383년 계묘','2384년 갑진','2385년 을사','2386년 병오','2387년 정미','2388년 무신','2389년 기유','2390년 경술','2391년 신해','2392년 임자','2393년 계축','2394년 갑인','2395년 을묘','2396년 병진','2397년 정사','2398년 무오','2399년 기미','2400년 경신','2401년 신유','2402년 임술','2403년 계해','2404년 갑자','2405년 을축','2406년 병인','2407년 정묘','2408년 무진','2409년 기사','2410년 경오','2411년 신미','2412년 임신','2413년 계유','2414년 갑술','2415년 을해','2416년 병자','2417년 정축','2418년 무인','2419년 기묘','2420년 경진','2421년 신사','2422년 임오','2423년 계미','2424년 갑신','2425년 을유','2426년 병술','2427년 정해','2428년 무자','2429년 기축','2430년 경인','2431년 신묘','2432년 임진','2433년 계사','2434년 갑오','2435년 을미','2436년 병신','2437년 정유','2438년 무술','2439년 기해','2440년 경자','2441년 신축','2442년 임인','2443년 계묘','2444년 갑진','2445년 을사','2446년 병오','2447년 정미','2448년 무신','2449년 기유','2450년 경술','2451년 신해','2452년 임자','2453년 계축','2454년 갑인','2455년 을묘','2456년 병진','2457년 정사','2458년 무오','2459년 기미','2460년 경신','2461년 신유','2462년 임술','2463년 계해','2464년 갑자','2465년 을축','2466년 병인','2467년 정묘','2468년 무진','2469년 기사','2470년 경오','2471년 신미','2472년 임신','2473년 계유','2474년 갑술','2475년 을해','2476년 병자','2477년 정축','2478년 무인','2479년 기묘','2480년 경진','2481년 신사','2482년 임오','2483년 계미','2484년 갑신','2485년 을유','2486년 병술','2487년 정해','2488년 무자','2489년 기축','2490년 경인','2491년 신묘','2492년 임진','2493년 계사','2494년 갑오','2495년 을미','2496년 병신','2497년 정유','2498년 무술','2499년 기해','2500년 경자','2501년 신축','2502년 임인','2503년 계묘','2504년 갑진','2505년 을사','2506년 병오','2507년 정미','2508년 무신','2509년 기유','2510년 경술','2511년 신해','2512년 임자','2513년 계축','2514년 갑인','2515년 을묘','2516년 병진','2517년 정사','2518년 무오','2519년 기미','2520년 경신','2521년 신유','2522년 임술','2523년 계해','2524년 갑자','2525년 을축','2526년 병인','2527년 정묘','2528년 무진','2529년 기사','2530년 경오','2531년 신미','2532년 임신','2533년 계유','2534년 갑술','2535년 을해','2536년 병자','2537년 정축','2538년 무인','2539년 기묘','2540년 경진','2541년 신사','2542년 임오','2543년 계미','2544년 갑신','2545년 을유','2546년 병술','2547년 정해','2548년 무자','2549년 기축','2550년 경인','2551년 신묘','2552년 임진','2553년 계사','2554년 갑오','2555년 을미','2556년 병신','2557년 정유','2558년 무술','2559년 기해','2560년 경자','2561년 신축','2562년 임인','2563년 계묘','2564년 갑진','2565년 을사','2566년 병오','2567년 정미','2568년 무신','2569년 기유','2570년 경술','2571년 신해','2572년 임자','2573년 계축','2574년 갑인','2575년 을묘','2576년 병진','2577년 정사','2578년 무오','2579년 기미','2580년 경신','2581년 신유','2582년 임술','2583년 계해','2584년 갑자','2585년 을축','2586년 병인','2587년 정묘','2588년 무진','2589년 기사','2590년 경오','2591년 신미','2592년 임신','2593년 계유','2594년 갑술','2595년 을해','2596년 병자','2597년 정축','2598년 무인','2599년 기묘','2600년 경진']
    -var yearVal = ['壹二○四年甲子','壹二○五年乙丑','壹二○六年丙寅','壹二○七年丁卯','壹二○八年戊辰','壹二○九年己巳','壹二一○年庚午','壹二一一年辛未','壹二一二年壬申','壹二一三年癸酉','壹二一四年甲戌','壹二一五年乙亥','壹二一六年丙子','壹二一七年丁丑','壹二一八年戊寅','壹二一九年己卯','壹二二○年庚辰','壹二二一年辛巳','壹二二二年壬午','壹二二三年癸未','壹二二四年甲申','壹二二五年乙酉','壹二二六年丙戌','壹二二七年丁亥','壹二二八年戊子','壹二二九年己丑','壹二三○年庚寅','壹二三一年辛卯','壹二三二年壬辰','壹二三三年癸巳','壹二三四年甲午','壹二三五年乙未','壹二三六年丙申','壹二三七年丁酉','壹二三八年戊戌','壹二三九年己亥','壹二四○年庚子','壹二四一年辛丑','壹二四二年壬寅','壹二四三年癸卯','壹二四四年甲辰','壹二四五年乙巳','壹二四六年丙午','壹二四七年丁未','壹二四八年戊申','壹二四九年己酉','壹二五○年庚戌','壹二五一年辛亥','壹二五二年壬子','壹二五三年癸丑','壹二五四年甲寅','壹二五五年乙卯','壹二五六年丙辰','壹二五七年丁巳','壹二五八年戊午','壹二五九年己未','壹二六○年庚申','壹二六一年辛酉','壹二六二年壬戌','壹二六三年癸亥','壹二六四年甲子','壹二六五年乙丑','壹二六六年丙寅','壹二六七年丁卯','壹二六八年戊辰','壹二六九年己巳','壹二七○年庚午','壹二七一年辛未','壹二七二年壬申','壹二七三年癸酉','壹二七四年甲戌','壹二七五年乙亥','壹二七六年丙子','壹二七七年丁丑','壹二七八年戊寅','壹二七九年己卯','壹二八○年庚辰','壹二八一年辛巳','壹二八二年壬午','壹二八三年癸未','壹二八四年甲申','壹二八五年乙酉','壹二八六年丙戌','壹二八七年丁亥','壹二八八年戊子','壹二八九年己丑','壹二九○年庚寅','壹二九一年辛卯','壹二九二年壬辰','壹二九三年癸巳','壹二九四年甲午','壹二九五年乙未','壹二九六年丙申','壹二九七年丁酉','壹二九八年戊戌','壹二九九年己亥','壹三○○年庚子','壹三○一年辛丑','壹三○二年壬寅','壹三○三年癸卯','壹三○四年甲辰','壹三○五年乙巳','壹三○六年丙午','壹三○七年丁未','壹三○八年戊申','壹三○九年己酉','壹三一○年庚戌','壹三一一年辛亥','壹三一二年壬子','壹三一三年癸丑','壹三一四年甲寅','壹三一五年乙卯','壹三一六年丙辰','壹三一七年丁巳','壹三一八年戊午','壹三一九年己未','壹三二○年庚申','壹三二一年辛酉','壹三二二年壬戌','壹三二三年癸亥','壹三二四年甲子','壹三二五年乙丑','壹三二六年丙寅','壹三二七年丁卯','壹三二八年戊辰','壹三二九年己巳','壹三三○年庚午','壹三三一年辛未','壹三三二年壬申','壹三三三年癸酉','壹三三四年甲戌','壹三三五年乙亥','壹三三六年丙子','壹三三七年丁丑','壹三三八年戊寅','壹三三九年己卯','壹三四○年庚辰','壹三四一年辛巳','壹三四二年壬午','壹三四三年癸未','壹三四四年甲申','壹三四五年乙酉','壹三四六年丙戌','壹三四七年丁亥','壹三四八年戊子','壹三四九年己丑','壹三五○年庚寅','壹三五一年辛卯','壹三五二年壬辰','壹三五三年癸巳','壹三五四年甲午','壹三五五年乙未','壹三五六年丙申','壹三五七年丁酉','壹三五八年戊戌','壹三五九年己亥','壹三六○年庚子','壹三六一年辛丑','壹三六二年壬寅','壹三六三年癸卯','壹三六四年甲辰','壹三六五年乙巳','壹三六六年丙午','壹三六七年丁未','壹三六八年戊申','壹三六九年己酉','壹三七○年庚戌','壹三七一年辛亥','壹三七二年壬子','壹三七三年癸丑','壹三七四年甲寅','壹三七五年乙卯','壹三七六年丙辰','壹三七七年丁巳','壹三七八年戊午','壹三七九年己未','壹三八○年庚申','壹三八一年辛酉','壹三八二年壬戌','壹三八三年癸亥','壹三八四年甲子','壹三八五年乙丑','壹三八六年丙寅','壹三八七年丁卯','壹三八八年戊辰','壹三八九年己巳','壹三九○年庚午','壹三九一年辛未','壹三九二年壬申','壹三九三年癸酉','壹三九四年甲戌','壹三九五年乙亥','壹三九六年丙子','壹三九七年丁丑','壹三九八年戊寅','壹三九九年己卯','壹四○○年庚辰','壹四○一年辛巳','壹四○二年壬午','壹四○三年癸未','壹四○四年甲申','壹四○五年乙酉','壹四○六年丙戌','壹四○七年丁亥','壹四○八年戊子','壹四○九年己丑','壹四一○年庚寅','壹四一一年辛卯','壹四一二年壬辰','壹四一三年癸巳','壹四一四年甲午','壹四一五年乙未','壹四一六年丙申','壹四一七年丁酉','壹四一八年戊戌','壹四一九年己亥','壹四二○年庚子','壹四二一年辛丑','壹四二二年壬寅','壹四二三年癸卯','壹四二四年甲辰','壹四二五年乙巳','壹四二六年丙午','壹四二七年丁未','壹四二八年戊申','壹四二九年己酉','壹四三○年庚戌','壹四三一年辛亥','壹四三二年壬子','壹四三三年癸丑','壹四三四年甲寅','壹四三五年乙卯','壹四三六年丙辰','壹四三七年丁巳','壹四三八年戊午','壹四三九年己未','壹四四○年庚申','壹四四一年辛酉','壹四四二年壬戌','壹四四三年癸亥','壹四四四年甲子','壹四四五年乙丑','壹四四六年丙寅','壹四四七年丁卯','壹四四八年戊辰','壹四四九年己巳','壹四五○年庚午','壹四五一年辛未','壹四五二年壬申','壹四五三年癸酉','壹四五四年甲戌','壹四五五年乙亥','壹四五六年丙子','壹四五七年丁丑','壹四五八年戊寅','壹四五九年己卯','壹四六○年庚辰','壹四六一年辛巳','壹四六二年壬午','壹四六三年癸未','壹四六四年甲申','壹四六五年乙酉','壹四六六年丙戌','壹四六七年丁亥','壹四六八年戊子','壹四六九年己丑','壹四七○年庚寅','壹四七一年辛卯','壹四七二年壬辰','壹四七三年癸巳','壹四七四年甲午','壹四七五年乙未','壹四七六年丙申','壹四七七年丁酉','壹四七八年戊戌','壹四七九年己亥','壹四八○年庚子','壹四八一年辛丑','壹四八二年壬寅','壹四八三年癸卯','壹四八四年甲辰','壹四八五年乙巳','壹四八六年丙午','壹四八七年丁未','壹四八八年戊申','壹四八九年己酉','壹四九○年庚戌','壹四九一年辛亥','壹四九二年壬子','壹四九三年癸丑','壹四九四年甲寅','壹四九五年乙卯','壹四九六年丙辰','壹四九七年丁巳','壹四九八年戊午','壹四九九年己未','壹五○○年庚申','壹五○一年辛酉','壹五○二年壬戌','壹五○三年癸亥','壹五○四年甲子','壹五○五年乙丑','壹五○六年丙寅','壹五○七年丁卯','壹五○八年戊辰','壹五○九年己巳','壹五一○年庚午','壹五一一年辛未','壹五一二年壬申','壹五一三年癸酉','壹五一四年甲戌','壹五一五年乙亥','壹五一六年丙子','壹五一七年丁丑','壹五一八年戊寅','壹五一九年己卯','壹五二○年庚辰','壹五二一年辛巳','壹五二二年壬午','壹五二三年癸未','壹五二四年甲申','壹五二五年乙酉','壹五二六年丙戌','壹五二七年丁亥','壹五二八年戊子','壹五二九年己丑','壹五三○年庚寅','壹五三一年辛卯','壹五三二年壬辰','壹五三三年癸巳','壹五三四年甲午','壹五三五年乙未','壹五三六年丙申','壹五三七年丁酉','壹五三八年戊戌','壹五三九年己亥','壹五四○年庚子','壹五四一年辛丑','壹五四二年壬寅','壹五四三年癸卯','壹五四四年甲辰','壹五四五年乙巳','壹五四六年丙午','壹五四七年丁未','壹五四八年戊申','壹五四九年己酉','壹五五○年庚戌','壹五五一年辛亥','壹五五二年壬子','壹五五三年癸丑','壹五五四年甲寅','壹五五五年乙卯','壹五五六年丙辰','壹五五七年丁巳','壹五五八年戊午','壹五五九年己未','壹五六○年庚申','壹五六一年辛酉','壹五六二年壬戌','壹五六三年癸亥','壹五六四年甲子','壹五六五年乙丑','壹五六六年丙寅','壹五六七年丁卯','壹五六八年戊辰','壹五六九年己巳','壹五七○年庚午','壹五七一年辛未','壹五七二年壬申','壹五七三年癸酉','壹五七四年甲戌','壹五七五年乙亥','壹五七六年丙子','壹五七七年丁丑','壹五七八年戊寅','壹五七九年己卯','壹五八○年庚辰','壹五八一年辛巳','壹五八二年壬午','壹五八三年癸未','壹五八四年甲申','壹五八五年乙酉','壹五八六年丙戌','壹五八七年丁亥','壹五八八年戊子','壹五八九年己丑','壹五九○年庚寅','壹五九一年辛卯','壹五九二年壬辰','壹五九三年癸巳','壹五九四年甲午','壹五九五年乙未','壹五九六年丙申','壹五九七年丁酉','壹五九八年戊戌','壹五九九年己亥','壹六○○年庚子','壹六○一年辛丑','壹六○二年壬寅','壹六○三年癸卯','壹六○四年甲辰','壹六○五年乙巳','壹六○六年丙午','壹六○七年丁未','壹六○八年戊申','壹六○九年己酉','壹六一○年庚戌','壹六一一年辛亥','壹六一二年壬子','壹六一三年癸丑','壹六一四年甲寅','壹六一五年乙卯','壹六一六年丙辰','壹六一七年丁巳','壹六一八年戊午','壹六一九年己未','壹六二○年庚申','壹六二一年辛酉','壹六二二年壬戌','壹六二三年癸亥','壹六二四年甲子','壹六二五年乙丑','壹六二六年丙寅','壹六二七年丁卯','壹六二八年戊辰','壹六二九年己巳','壹六三○年庚午','壹六三一年辛未','壹六三二年壬申','壹六三三年癸酉','壹六三四年甲戌','壹六三五年乙亥','壹六三六年丙子','壹六三七年丁丑','壹六三八年戊寅','壹六三九年己卯','壹六四○年庚辰','壹六四一年辛巳','壹六四二年壬午','壹六四三年癸未','壹六四四年甲申','壹六四五年乙酉','壹六四六年丙戌','壹六四七年丁亥','壹六四八年戊子','壹六四九年己丑','壹六五○年庚寅','壹六五一年辛卯','壹六五二年壬辰','壹六五三年癸巳','壹六五四年甲午','壹六五五年乙未','壹六五六年丙申','壹六五七年丁酉','壹六五八年戊戌','壹六五九年己亥','壹六六○年庚子','壹六六一年辛丑','壹六六二年壬寅','壹六六三年癸卯','壹六六四年甲辰','壹六六五年乙巳','壹六六六年丙午','壹六六七年丁未','壹六六八年戊申','壹六六九年己酉','壹六七○年庚戌','壹六七一年辛亥','壹六七二年壬子','壹六七三年癸丑','壹六七四年甲寅','壹六七五年乙卯','壹六七六年丙辰','壹六七七年丁巳','壹六七八年戊午','壹六七九年己未','壹六八○年庚申','壹六八一年辛酉','壹六八二年壬戌','壹六八三年癸亥','壹六八四年甲子','壹六八五年乙丑','壹六八六年丙寅','壹六八七年丁卯','壹六八八年戊辰','壹六八九年己巳','壹六九○年庚午','壹六九一年辛未','壹六九二年壬申','壹六九三年癸酉','壹六九四年甲戌','壹六九五年乙亥','壹六九六年丙子','壹六九七年丁丑','壹六九八年戊寅','壹六九九年己卯','壹七○○年庚辰','壹七○一年辛巳','壹七○二年壬午','壹七○三年癸未','壹七○四年甲申','壹七○五年乙酉','壹七○六年丙戌','壹七○七年丁亥','壹七○八年戊子','壹七○九年己丑','壹七一○年庚寅','壹七一一年辛卯','壹七一二年壬辰','壹七一三年癸巳','壹七一四年甲午','壹七一五年乙未','壹七一六年丙申','壹七一七年丁酉','壹七一八年戊戌','壹七一九年己亥','壹七二○年庚子','壹七二一年辛丑','壹七二二年壬寅','壹七二三年癸卯','壹七二四年甲辰','壹七二五年乙巳','壹七二六年丙午','壹七二七年丁未','壹七二八年戊申','壹七二九年己酉','壹七三○年庚戌','壹七三一年辛亥','壹七三二年壬子','壹七三三年癸丑','壹七三四年甲寅','壹七三五年乙卯','壹七三六年丙辰','壹七三七年丁巳','壹七三八年戊午','壹七三九年己未','壹七四○年庚申','壹七四一年辛酉','壹七四二年壬戌','壹七四三年癸亥','壹七四四年甲子','壹七四五年乙丑','壹七四六年丙寅','壹七四七年丁卯','壹七四八年戊辰','壹七四九年己巳','壹七五○年庚午','壹七五一年辛未','壹七五二年壬申','壹七五三年癸酉','壹七五四年甲戌','壹七五五年乙亥','壹七五六年丙子','壹七五七年丁丑','壹七五八年戊寅','壹七五九年己卯','壹七六○年庚辰','壹七六一年辛巳','壹七六二年壬午','壹七六三年癸未','壹七六四年甲申','壹七六五年乙酉','壹七六六年丙戌','壹七六七年丁亥','壹七六八年戊子','壹七六九年己丑','壹七七○年庚寅','壹七七一年辛卯','壹七七二年壬辰','壹七七三年癸巳','壹七七四年甲午','壹七七五年乙未','壹七七六年丙申','壹七七七年丁酉','壹七七八年戊戌','壹七七九年己亥','壹七八○年庚子','壹七八一年辛丑','壹七八二年壬寅','壹七八三年癸卯','壹七八四年甲辰','壹七八五年乙巳','壹七八六年丙午','壹七八七年丁未','壹七八八年戊申','壹七八九年己酉','壹七九○年庚戌','壹七九一年辛亥','壹七九二年壬子','壹七九三年癸丑','壹七九四年甲寅','壹七九五年乙卯','壹七九六年丙辰','壹七九七年丁巳','壹七九八年戊午','壹七九九年己未','壹八○○年庚申','壹八○一年辛酉','壹八○二年壬戌','壹八○三年癸亥','壹八○四年甲子','壹八○五年乙丑','壹八○六年丙寅','壹八○七年丁卯','壹八○八年戊辰','壹八○九年己巳','壹八一○年庚午','壹八一一年辛未','壹八一二年壬申','壹八一三年癸酉','壹八一四年甲戌','壹八一五年乙亥','壹八一六年丙子','壹八一七年丁丑','壹八一八年戊寅','壹八一九年己卯','壹八二○年庚辰','壹八二一年辛巳','壹八二二年壬午','壹八二三年癸未','壹八二四年甲申','壹八二五年乙酉','壹八二六年丙戌','壹八二七年丁亥','壹八二八年戊子','壹八二九年己丑','壹八三○年庚寅','壹八三一年辛卯','壹八三二年壬辰','壹八三三年癸巳','壹八三四年甲午','壹八三五年乙未','壹八三六年丙申','壹八三七年丁酉','壹八三八年戊戌','壹八三九年己亥','壹八四○年庚子','壹八四一年辛丑','壹八四二年壬寅','壹八四三年癸卯','壹八四四年甲辰','壹八四五年乙巳','壹八四六年丙午','壹八四七年丁未','壹八四八年戊申','壹八四九年己酉','壹八五○年庚戌','壹八五一年辛亥','壹八五二年壬子','壹八五三年癸丑','壹八五四年甲寅','壹八五五年乙卯','壹八五六年丙辰','壹八五七年丁巳','壹八五八年戊午','壹八五九年己未','壹八六○年庚申','壹八六一年辛酉','壹八六二年壬戌','壹八六三年癸亥','壹八六四年甲子','壹八六五年乙丑','壹八六六年丙寅','壹八六七年丁卯','壹八六八年戊辰','壹八六九年己巳','壹八七○年庚午','壹八七一年辛未','壹八七二年壬申','壹八七三年癸酉','壹八七四年甲戌','壹八七五年乙亥','壹八七六年丙子','壹八七七年丁丑','壹八七八年戊寅','壹八七九年己卯','壹八八○年庚辰','壹八八一年辛巳','壹八八二年壬午','壹八八三年癸未','壹八八四年甲申','壹八八五年乙酉','壹八八六年丙戌','壹八八七年丁亥','壹八八八年戊子','壹八八九年己丑','壹八九○年庚寅','壹八九一年辛卯','壹八九二年壬辰','壹八九三年癸巳','壹八九四年甲午','壹八九五年乙未','壹八九六年丙申','壹八九七年丁酉','壹八九八年戊戌','壹八九九年己亥','壹九○○年庚子','壹九○一年辛丑','壹九○二年壬寅','壹九○三年癸卯','壹九○四年甲辰','壹九○五年乙巳','壹九○六年丙午','壹九○七年丁未','壹九○八年戊申','壹九○九年己酉','壹九一○年庚戌','壹九一一年辛亥','壹九一二年壬子','壹九一三年癸丑','壹九一四年甲寅','壹九一五年乙卯','壹九一六年丙辰','壹九一七年丁巳','壹九一八年戊午','壹九一九年己未','壹九二○年庚申','壹九二一年辛酉','壹九二二年壬戌','壹九二三年癸亥','壹九二四年甲子','壹九二五年乙丑','壹九二六年丙寅','壹九二七年丁卯','壹九二八年戊辰','壹九二九年己巳','壹九三○年庚午','壹九三一年辛未','壹九三二年壬申','壹九三三年癸酉','壹九三四年甲戌','壹九三五年乙亥','壹九三六年丙子','壹九三七年丁丑','壹九三八年戊寅','壹九三九年己卯','壹九四○年庚辰','壹九四一年辛巳','壹九四二年壬午','壹九四三年癸未','壹九四四年甲申','壹九四五年乙酉','壹九四六年丙戌','壹九四七年丁亥','壹九四八年戊子','壹九四九年己丑','壹九五○年庚寅','壹九五一年辛卯','壹九五二年壬辰','壹九五三年癸巳','壹九五四年甲午','壹九五五年乙未','壹九五六年丙申','壹九五七年丁酉','壹九五八年戊戌','壹九五九年己亥','壹九六○年庚子','壹九六一年辛丑','壹九六二年壬寅','壹九六三年癸卯','壹九六四年甲辰','壹九六五年乙巳','壹九六六年丙午','壹九六七年丁未','壹九六八年戊申','壹九六九年己酉','壹九七○年庚戌','壹九七一年辛亥','壹九七二年壬子','壹九七三年癸丑','壹九七四年甲寅','壹九七五年乙卯','壹九七六年丙辰','壹九七七年丁巳','壹九七八年戊午','壹九七九年己未','壹九八○年庚申','壹九八一年辛酉','壹九八二年壬戌','壹九八三年癸亥','壹九八四年甲子','壹九八五年乙丑','壹九八六年丙寅','壹九八七年丁卯','壹九八八年戊辰','壹九八九年己巳','壹九九○年庚午','壹九九一年辛未','壹九九二年壬申','壹九九三年癸酉','壹九九四年甲戌','壹九九五年乙亥','壹九九六年丙子','壹九九七年丁丑','壹九九八年戊寅','壹九九九年己卯','貳○○○年庚辰','貳○○一年辛巳','貳○○二年壬午','貳○○三年癸未','貳○○四年甲申','貳○○五年乙酉','貳○○六年丙戌','貳○○七年丁亥','貳○○八年戊子','貳○○九年己丑','貳○一○年庚寅','貳○一一年辛卯','貳○一二年壬辰','貳○一三年癸巳','貳○一四年甲午','貳○一五年乙未','貳○一六年丙申','貳○一七年丁酉','貳○一八年戊戌','貳○一九年己亥','貳○二○年庚子','貳○二一年辛丑','貳○二二年壬寅','貳○二三年癸卯','貳○二四年甲辰','貳○二五年乙巳','貳○二六年丙午','貳○二七年丁未','貳○二八年戊申','貳○二九年己酉','貳○三○年庚戌','貳○三一年辛亥','貳○三二年壬子','貳○三三年癸丑','貳○三四年甲寅','貳○三五年乙卯','貳○三六年丙辰','貳○三七年丁巳','貳○三八年戊午','貳○三九年己未','貳○四○年庚申','貳○四一年辛酉','貳○四二年壬戌','貳○四三年癸亥','貳○四四年甲子','貳○四五年乙丑','貳○四六年丙寅','貳○四七年丁卯','貳○四八年戊辰','貳○四九年己巳','貳○五○年庚午','貳○五一年辛未','貳○五二年壬申','貳○五三年癸酉','貳○五四年甲戌','貳○五五年乙亥','貳○五六年丙子','貳○五七年丁丑','貳○五八年戊寅','貳○五九年己卯','貳○六○年庚辰','貳○六一年辛巳','貳○六二年壬午','貳○六三年癸未','貳○六四年甲申','貳○六五年乙酉','貳○六六年丙戌','貳○六七年丁亥','貳○六八年戊子','貳○六九年己丑','貳○七○年庚寅','貳○七一年辛卯','貳○七二年壬辰','貳○七三年癸巳','貳○七四年甲午','貳○七五年乙未','貳○七六年丙申','貳○七七年丁酉','貳○七八年戊戌','貳○七九年己亥','貳○八○年庚子','貳○八一年辛丑','貳○八二年壬寅','貳○八三年癸卯','貳○八四年甲辰','貳○八五年乙巳','貳○八六年丙午','貳○八七年丁未','貳○八八年戊申','貳○八九年己酉','貳○九○年庚戌','貳○九一年辛亥','貳○九二年壬子','貳○九三年癸丑','貳○九四年甲寅','貳○九五年乙卯','貳○九六年丙辰','貳○九七年丁巳','貳○九八年戊午','貳○九九年己未','貳一○○年庚申','貳一○一年辛酉','貳一○二年壬戌','貳一○三年癸亥','貳一○四年甲子','貳一○五年乙丑','貳一○六年丙寅','貳一○七年丁卯','貳一○八年戊辰','貳一○九年己巳','貳一一○年庚午','貳一一一年辛未','貳一一二年壬申','貳一一三年癸酉','貳一一四年甲戌','貳一一五年乙亥','貳一一六年丙子','貳一一七年丁丑','貳一一八年戊寅','貳一一九年己卯','貳一二○年庚辰','貳一二一年辛巳','貳一二二年壬午','貳一二三年癸未','貳一二四年甲申','貳一二五年乙酉','貳一二六年丙戌','貳一二七年丁亥','貳一二八年戊子','貳一二九年己丑','貳一三○年庚寅','貳一三一年辛卯','貳一三二年壬辰','貳一三三年癸巳','貳一三四年甲午','貳一三五年乙未','貳一三六年丙申','貳一三七年丁酉','貳一三八年戊戌','貳一三九年己亥','貳一四○年庚子','貳一四一年辛丑','貳一四二年壬寅','貳一四三年癸卯','貳一四四年甲辰','貳一四五年乙巳','貳一四六年丙午','貳一四七年丁未','貳一四八年戊申','貳一四九年己酉','貳一五○年庚戌','貳一五一年辛亥','貳一五二年壬子','貳一五三年癸丑','貳一五四年甲寅','貳一五五年乙卯','貳一五六年丙辰','貳一五七年丁巳','貳一五八年戊午','貳一五九年己未','貳一六○年庚申','貳一六一年辛酉','貳一六二年壬戌','貳一六三年癸亥','貳一六四年甲子','貳一六五年乙丑','貳一六六年丙寅','貳一六七年丁卯','貳一六八年戊辰','貳一六九年己巳','貳一七○年庚午','貳一七一年辛未','貳一七二年壬申','貳一七三年癸酉','貳一七四年甲戌','貳一七五年乙亥','貳一七六年丙子','貳一七七年丁丑','貳一七八年戊寅','貳一七九年己卯','貳一八○年庚辰','貳一八一年辛巳','貳一八二年壬午','貳一八三年癸未','貳一八四年甲申','貳一八五年乙酉','貳一八六年丙戌','貳一八七年丁亥','貳一八八年戊子','貳一八九年己丑','貳一九○年庚寅','貳一九一年辛卯','貳一九二年壬辰','貳一九三年癸巳','貳一九四年甲午','貳一九五年乙未','貳一九六年丙申','貳一九七年丁酉','貳一九八年戊戌','貳一九九年己亥','貳二○○年庚子','貳二○一年辛丑','貳二○二年壬寅','貳二○三年癸卯','貳二○四年甲辰','貳二○五年乙巳','貳二○六年丙午','貳二○七年丁未','貳二○八年戊申','貳二○九年己酉','貳二一○年庚戌','貳二一一年辛亥','貳二一二年壬子','貳二一三年癸丑','貳二一四年甲寅','貳二一五年乙卯','貳二一六年丙辰','貳二一七年丁巳','貳二一八年戊午','貳二一九年己未','貳二二○年庚申','貳二二一年辛酉','貳二二二年壬戌','貳二二三年癸亥','貳二二四年甲子','貳二二五年乙丑','貳二二六年丙寅','貳二二七年丁卯','貳二二八年戊辰','貳二二九年己巳','貳二三○年庚午','貳二三一年辛未','貳二三二年壬申','貳二三三年癸酉','貳二三四年甲戌','貳二三五年乙亥','貳二三六年丙子','貳二三七年丁丑','貳二三八年戊寅','貳二三九年己卯','貳二四○年庚辰','貳二四一年辛巳','貳二四二年壬午','貳二四三年癸未','貳二四四年甲申','貳二四五年乙酉','貳二四六年丙戌','貳二四七年丁亥','貳二四八年戊子','貳二四九年己丑','貳二五○年庚寅','貳二五一年辛卯','貳二五二年壬辰','貳二五三年癸巳','貳二五四年甲午','貳二五五年乙未','貳二五六年丙申','貳二五七年丁酉','貳二五八年戊戌','貳二五九年己亥','貳二六○年庚子','貳二六一年辛丑','貳二六二年壬寅','貳二六三年癸卯','貳二六四年甲辰','貳二六五年乙巳','貳二六六年丙午','貳二六七年丁未','貳二六八年戊申','貳二六九年己酉','貳二七○年庚戌','貳二七一年辛亥','貳二七二年壬子','貳二七三年癸丑','貳二七四年甲寅','貳二七五年乙卯','貳二七六年丙辰','貳二七七年丁巳','貳二七八年戊午','貳二七九年己未','貳二八○年庚申','貳二八一年辛酉','貳二八二年壬戌','貳二八三年癸亥','貳二八四年甲子','貳二八五年乙丑','貳二八六年丙寅','貳二八七年丁卯','貳二八八年戊辰','貳二八九年己巳','貳二九○年庚午','貳二九一年辛未','貳二九二年壬申','貳二九三年癸酉','貳二九四年甲戌','貳二九五年乙亥','貳二九六年丙子','貳二九七年丁丑','貳二九八年戊寅','貳二九九年己卯','貳三○○年庚辰','貳三○一年辛巳','貳三○二年壬午','貳三○三年癸未','貳三○四年甲申','貳三○五年乙酉','貳三○六年丙戌','貳三○七年丁亥','貳三○八年戊子','貳三○九年己丑','貳三一○年庚寅','貳三一一年辛卯','貳三一二年壬辰','貳三一三年癸巳','貳三一四年甲午','貳三一五年乙未','貳三一六年丙申','貳三一七年丁酉','貳三一八年戊戌','貳三一九年己亥','貳三二○年庚子','貳三二一年辛丑','貳三二二年壬寅','貳三二三年癸卯','貳三二四年甲辰','貳三二五年乙巳','貳三二六年丙午','貳三二七年丁未','貳三二八年戊申','貳三二九年己酉','貳三三○年庚戌','貳三三一年辛亥','貳三三二年壬子','貳三三三年癸丑','貳三三四年甲寅','貳三三五年乙卯','貳三三六年丙辰','貳三三七年丁巳','貳三三八年戊午','貳三三九年己未','貳三四○年庚申','貳三四一年辛酉','貳三四二年壬戌','貳三四三年癸亥','貳三四四年甲子','貳三四五年乙丑','貳三四六年丙寅','貳三四七年丁卯','貳三四八年戊辰','貳三四九年己巳','貳三五○年庚午','貳三五一年辛未','貳三五二年壬申','貳三五三年癸酉','貳三五四年甲戌','貳三五五年乙亥','貳三五六年丙子','貳三五七年丁丑','貳三五八年戊寅','貳三五九年己卯','貳三六○年庚辰','貳三六一年辛巳','貳三六二年壬午','貳三六三年癸未','貳三六四年甲申','貳三六五年乙酉','貳三六六年丙戌','貳三六七年丁亥','貳三六八年戊子','貳三六九年己丑','貳三七○年庚寅','貳三七一年辛卯','貳三七二年壬辰','貳三七三年癸巳','貳三七四年甲午','貳三七五年乙未','貳三七六年丙申','貳三七七年丁酉','貳三七八年戊戌','貳三七九年己亥','貳三八○年庚子','貳三八一年辛丑','貳三八二年壬寅','貳三八三年癸卯','貳三八四年甲辰','貳三八五年乙巳','貳三八六年丙午','貳三八七年丁未','貳三八八年戊申','貳三八九年己酉','貳三九○年庚戌','貳三九一年辛亥','貳三九二年壬子','貳三九三年癸丑','貳三九四年甲寅','貳三九五年乙卯','貳三九六年丙辰','貳三九七年丁巳','貳三九八年戊午','貳三九九年己未','貳四○○年庚申','貳四○一年辛酉','貳四○二年壬戌','貳四○三年癸亥','貳四○四年甲子','貳四○五年乙丑','貳四○六年丙寅','貳四○七年丁卯','貳四○八年戊辰','貳四○九年己巳','貳四一○年庚午','貳四一一年辛未','貳四一二年壬申','貳四一三年癸酉','貳四一四年甲戌','貳四一五年乙亥','貳四一六年丙子','貳四一七年丁丑','貳四一八年戊寅','貳四一九年己卯','貳四二○年庚辰','貳四二一年辛巳','貳四二二年壬午','貳四二三年癸未','貳四二四年甲申','貳四二五年乙酉','貳四二六年丙戌','貳四二七年丁亥','貳四二八年戊子','貳四二九年己丑','貳四三○年庚寅','貳四三一年辛卯','貳四三二年壬辰','貳四三三年癸巳','貳四三四年甲午','貳四三五年乙未','貳四三六年丙申','貳四三七年丁酉','貳四三八年戊戌','貳四三九年己亥','貳四四○年庚子','貳四四一年辛丑','貳四四二年壬寅','貳四四三年癸卯','貳四四四年甲辰','貳四四五年乙巳','貳四四六年丙午','貳四四七年丁未','貳四四八年戊申','貳四四九年己酉','貳四五○年庚戌','貳四五一年辛亥','貳四五二年壬子','貳四五三年癸丑','貳四五四年甲寅','貳四五五年乙卯','貳四五六年丙辰','貳四五七年丁巳','貳四五八年戊午','貳四五九年己未','貳四六○年庚申','貳四六一年辛酉','貳四六二年壬戌','貳四六三年癸亥','貳四六四年甲子','貳四六五年乙丑','貳四六六年丙寅','貳四六七年丁卯','貳四六八年戊辰','貳四六九年己巳','貳四七○年庚午','貳四七一年辛未','貳四七二年壬申','貳四七三年癸酉','貳四七四年甲戌','貳四七五年乙亥','貳四七六年丙子','貳四七七年丁丑','貳四七八年戊寅','貳四七九年己卯','貳四八○年庚辰','貳四八一年辛巳','貳四八二年壬午','貳四八三年癸未','貳四八四年甲申','貳四八五年乙酉','貳四八六年丙戌','貳四八七年丁亥','貳四八八年戊子','貳四八九年己丑','貳四九○年庚寅','貳四九一年辛卯','貳四九二年壬辰','貳四九三年癸巳','貳四九四年甲午','貳四九五年乙未','貳四九六年丙申','貳四九七年丁酉','貳四九八年戊戌','貳四九九年己亥','貳五○○年庚子','貳五○一年辛丑','貳五○二年壬寅','貳五○三年癸卯','貳五○四年甲辰','貳五○五年乙巳','貳五○六年丙午','貳五○七年丁未','貳五○八年戊申','貳五○九年己酉','貳五一○年庚戌','貳五一一年辛亥','貳五一二年壬子','貳五一三年癸丑','貳五一四年甲寅','貳五一五年乙卯','貳五一六年丙辰','貳五一七年丁巳','貳五一八年戊午','貳五一九年己未','貳五二○年庚申','貳五二一年辛酉','貳五二二年壬戌','貳五二三年癸亥','貳五二四年甲子','貳五二五年乙丑','貳五二六年丙寅','貳五二七年丁卯','貳五二八年戊辰','貳五二九年己巳','貳五三○年庚午','貳五三一年辛未','貳五三二年壬申','貳五三三年癸酉','貳五三四年甲戌','貳五三五年乙亥','貳五三六年丙子','貳五三七年丁丑','貳五三八年戊寅','貳五三九年己卯','貳五四○年庚辰','貳五四一年辛巳','貳五四二年壬午','貳五四三年癸未','貳五四四年甲申','貳五四五年乙酉','貳五四六年丙戌','貳五四七年丁亥','貳五四八年戊子','貳五四九年己丑','貳五五○年庚寅','貳五五一年辛卯','貳五五二年壬辰','貳五五三年癸巳','貳五五四年甲午','貳五五五年乙未','貳五五六年丙申','貳五五七年丁酉','貳五五八年戊戌','貳五五九年己亥','貳五六○年庚子','貳五六一年辛丑','貳五六二年壬寅','貳五六三年癸卯','貳五六四年甲辰','貳五六五年乙巳','貳五六六年丙午','貳五六七年丁未','貳五六八年戊申','貳五六九年己酉','貳五七○年庚戌','貳五七一年辛亥','貳五七二年壬子','貳五七三年癸丑','貳五七四年甲寅','貳五七五年乙卯','貳五七六年丙辰','貳五七七年丁巳','貳五七八年戊午','貳五七九年己未','貳五八○年庚申','貳五八一年辛酉','貳五八二年壬戌','貳五八三年癸亥','貳五八四年甲子','貳五八五年乙丑','貳五八六年丙寅','貳五八七年丁卯','貳五八八年戊辰','貳五八九年己巳','貳五九○年庚午','貳五九一年辛未','貳五九二年壬申','貳五九三年癸酉','貳五九四年甲戌','貳五九五年乙亥','貳五九六年丙子','貳五九七年丁丑','貳五九八年戊寅','貳五九九年己卯','貳六○○年庚辰']
    -var monthVal = ['正月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
    -var dayVal = ['初一日','初二日','初三日','初四日','初五日','初六日','初七日','初八日','初九日','十日','十一日','十二日','十三日','十四日','十五日','十六日','十七日','十八日','十九日','二十日','二十一日','二十二日','二十三日','二十四日','二十五日','二十六日','二十七日','二十八日','二十九日','三十日','三十一日']
    -var ageVal = ['二十','二十一','二十二','二十三','二十四','二十五','二十六','二十七','二十八','二十九','三十','三十一','三十二','三十三','三十四','三十五','三十六','三十七','三十八','三十九','四十','四十一','四十二','四十三','四十四','四十五','四十六','四十七','四十八','四十九','五十','五十一','五十二','五十三','五十四','五十五','五十六','五十七','五十八','五十九','六十','六十一','六十二','六十三','六十四','六十五','六十六','六十七','六十八','六十九','七十','七十一','七十二','七十三','七十四','七十五','七十六','七十七','七十八','七十九','八十','八十一','八十二','八十三','八十四','八十五','八十六','八十七','八十八','八十九','九十','九十一','九十二','九十三','九十四','九十五','九十六','九十七','九十八','九十九','百','百一','百二','百三','百四','百五','百六','百七','百八','百九','百十','百十一','百十二','百十三','百十四','百十五','百十六','百十七','百十八','百十九','百二十','百二十一','百二十二','百二十三','百二十四','百二十五','百二十六','百二十七','百二十八','百二十九','百三十','百三十一','百三十二','百三十三','百三十四','百三十五','百三十六','百三十七','百三十八','百三十九','百四十','百四十一','百四十二','百四十三','百四十四','百四十五','百四十六','百四十七','百四十八','百四十九','百五十']
    -var fnSel = ['강릉김씨(江陵金氏)','강릉박씨(江陵朴氏)','강릉유씨(江陵劉氏)','강릉최씨(江陵崔氏)','강릉함씨(江陵咸氏)','강음단씨(江陰段氏)','강화노씨(江華魯氏)','강화위씨(江華韋氏)','강화최씨(江華崔氏)','개성김씨(開城金氏)','개성왕씨(開城王氏)','거제반씨(巨濟潘氏)','거창신씨(居昌愼氏)','거창장씨(居昌章氏)','결성장씨(結城張氏)','경산김씨(慶山金氏)','경산전씨(慶山全氏)','경주김씨(慶州金氏)','경주배씨(慶州裵氏)','경주석씨(慶州昔氏)','경주설씨(慶州薛氏)','경주손씨(慶州孫氏)','경주이씨(慶州李氏)','경주임씨(慶州林氏)','경주정씨(慶州鄭氏)','경주최씨(慶州崔氏)','고령김씨(高靈金氏)','고령박씨(高靈朴氏)','고령신씨(高靈申氏)','고부이씨(古阜李氏)','고성김씨(固城金氏)','고성이씨(固城李氏)','고창오씨(高敞吳氏)','고흥류씨(高興柳氏)','곡부공씨(曲阜孔氏)','곡산연씨(谷山延氏)','공주이씨(公州李氏)','광산김씨(光山金氏)','광산이씨(光山李氏) ','광산탁씨(光山卓氏)','광주김씨(廣州金氏)','광주노씨(光州盧氏)','광주안씨(廣州安氏)','광주이씨(廣州李氏)','광주정씨(光州鄭氏)','광천동씨(廣川董氏)','괴산피씨(槐山皮氏)','교동인씨(喬桐印氏)','교하노씨(交河盧氏)','군위오씨(軍威吳氏)','금구온씨(金溝溫氏)','금산김씨(錦山金氏)','금성나씨(錦城羅氏)','금성범씨(錦城范氏)','기계유씨(杞溪兪氏)','김녕김씨(金寧金氏)','김제조씨(金堤趙氏)','김포공씨(金浦公氏)','김해김씨(金海金氏)','김해허씨(金海許氏)','나주김씨(羅州金氏)','나주나씨(羅州羅氏)','나주오씨(羅州吳氏)','나주임씨(羅州林氏)','나주정씨(羅州丁氏)','나주정씨(羅州鄭氏)','남양갈씨(南陽葛氏)','남양방씨(南陽房氏)','남양제갈씨(南陽諸葛氏)','남양홍씨(南陽洪氏)','남원독고씨(南原獨孤氏) ','남원양씨(南原梁氏)','남원양씨(南原楊氏)','남원윤씨(南原尹氏)','남원진씨(南原晋氏)','남평문씨(南平文氏)','낭주최씨(朗州崔氏)','능성구씨(綾城具氏)','단양우씨(丹陽禹氏)','단양이씨(丹陽李氏)','단양장씨(丹陽張氏)','달성배씨(達城裵氏)','달성빈씨(達城賓氏)','달성서씨(達城徐氏)','달성하씨(達城夏氏)','담양국씨(潭陽鞠氏)','담양전씨(潭陽田氏)','덕수이씨(德水李氏)','덕수장씨(德水張氏)','도강김씨(道康金氏)','동래정씨(東萊鄭氏)','동복오씨(同福吳氏)','동주최씨(東州崔氏)','두릉두씨(杜陵杜氏)','면천복씨(沔川卜氏)','목천상씨(木川尙氏)','무송유씨(茂松庾氏)','무송윤씨(茂松尹氏)','무안박씨(務安朴氏)','문경전씨(聞慶錢氏)','문의박씨(文義朴氏)','문화류씨(文化柳氏)','밀성박씨(密城朴氏)','밀양당씨(密陽唐氏)','밀양손씨(密陽孫氏)','반남박씨(潘南朴氏)','백천조씨(白川趙氏)','벽진이씨(碧珍李氏)','보성선씨(寶城宣氏) ','보성오씨(寶城吳氏)','봉산지씨(鳳山智氏)','봉화금씨(奉化琴氏)','봉화정씨(奉化鄭氏)','부안김씨(扶安金氏)','부안임씨(扶安林氏)','부여서씨(扶餘徐氏)','분성배씨(盆城裵氏)','사천목씨(泗川睦氏)','삭녕최씨(朔寧崔氏)','삼척김씨(三陟金氏)','상곡마씨(上谷麻氏) ','상산김씨(商山金氏)','상주박씨(尙州朴氏)','상주주씨(尙州周氏)','서산류씨(瑞山柳氏)','서산정씨(瑞山鄭氏)','서흥김씨(瑞興金氏)','선산김씨(善山金氏)','성산이씨(星山李氏)','성산이씨(星山李氏)','성주도씨(星州都氏)','성주배씨(星州裵氏)','성주이씨(星州李氏)','소주가씨(蘇州賈氏)','수성최씨(隋城崔氏)','수안계씨(遂安桂氏)','수안이씨(遂安李氏)','수원김씨(水原金氏)','수원백씨(水原白氏)','순창설씨(淳昌薛氏)','순천김씨(順天金氏)','순천박씨(順天朴氏)','순흥안씨(順興安氏)','신안주씨(新安朱氏)','신창맹씨(新昌孟氏)','신창표씨(新昌表氏)','신천강씨(信川康氏)','신평송씨(新平宋氏)','신평이씨(新平李氏)','신평호씨(新平扈氏)','아산장씨(牙山將氏)','아주신씨(鵝州申氏)','안동권씨(安東權氏)','안동김씨(安東金氏)','안동손씨(安東孫氏)','안동장씨(安東張氏)','안산김씨(安山金氏)','안성이씨(安城李氏)','안음서문씨(安陰西門氏)','야성송씨(冶城宋氏)','양성이씨(陽城李氏)','양주조씨(楊州趙氏)','양천허씨(陽川許氏)','언양김씨(彦陽金氏)','여산송씨(礪山宋氏)','여양진씨(驪陽陳氏)','여주이씨(驪州李氏)','여흥민씨(驪興閔氏)','연안김씨(延安金氏)','연안명씨(延安明氏)','연안이씨(延安李氏)','연안차씨(延安車氏)','연일승씨(延日承氏)','연일정씨(延日鄭氏)','연주현씨(延州玄氏)','영광김씨(靈光金氏)','영광정씨(靈光丁氏)','영산김씨(永山金氏)','영산신씨(靈山辛氏)','영순태씨(永順太氏)','영양남씨(英陽南氏)','영양천씨(穎陽千氏)','영월엄씨(寧越嚴氏)','영천이씨(寧川李氏)','영천이씨(永川李氏)','영천최씨(永川崔氏)','영천황보씨(永川皇甫氏)','영해박씨(寧海朴氏)','예안김씨(禮安金氏)','예천임씨(醴泉林氏)','옥산전씨(玉山全氏)','옥천옹씨(玉川邕氏)','옥천육씨(沃川陸氏)','옥천조씨(玉川趙氏)','온양방씨(溫陽方氏)','온양정씨(溫陽鄭氏)','용인이씨(龍仁李氏)','우계이씨(羽溪李氏)','우봉이씨(牛峰李氏)','우주황씨(紆州黃氏)','울산김씨(蔚山金氏)','울산박씨(蔚山朴氏)','울진장씨(蔚珍張氏)','원주변씨(原州邊氏)','원주원씨(原州元氏)','원주이씨(原州李氏)','월성박씨(月城朴氏)','은진송씨(恩津宋氏)','의령남씨(宜寧南氏)','의령여씨(宜寧余氏)','의령옥씨(宜寧玉氏)','의성김씨(義城金氏)','의흥예씨(義興芮氏)','이천서씨(利川徐氏)','인동장씨(仁同張氏)','인천이씨(仁川李氏)','인천채씨(仁川蔡氏)','장수이씨(長水李氏)','장수황씨(長水黃氏)','장흥마씨(長興馬氏)','장흥위씨(長興魏氏)','장흥임씨(長興任氏)','재령이씨(載寧李氏)','전의이씨(全義李氏)','전주견씨(全州甄氏)','전주김씨(全州金氏)','전주류씨(全州柳氏)','전주이씨(全州李氏)','전주최씨(全州崔氏)','절강시씨(浙江施氏)','절강편씨(浙江片氏)','정선전씨(旌善全氏)','제주고씨(濟州高氏)','제주부씨(濟州夫氏)','제주양씨(濟州梁氏)','조양임씨(兆陽林氏)','죽산박씨(竹山朴氏)','죽산안씨(竹山安氏)','죽산음씨(竹山陰氏)','진보이씨(眞寶李氏)','진양하씨(晋陽河氏)','진원박씨(珍原朴氏)','진주강씨(晋州姜氏)','진주류씨(晋州柳氏)','진주소씨(晋州蘇氏)','진주정씨(晋州鄭氏)','진주하씨(晋州河氏)','진주형씨(晋州邢氏)','진천송씨(鎭川宋氏)','창녕성씨(昌寧成氏)','창녕조씨(昌寧曺氏)','창원구씨(昌原具氏)','창원정씨(昌原丁氏)','창원황씨(昌原黃氏)','천안전씨(天安全氏)','청도김씨(淸道金氏)','청송심씨(靑松沈氏)','청안이씨(淸安李氏)','청주경씨(淸州慶氏)','청주김씨(淸州金氏)','청주사씨(淸州史氏)','청주양씨(淸州楊氏)','청주이씨(淸州李氏)','청주정씨(淸州鄭氏)','청주좌씨(淸州左氏)','청주한씨(淸州韓氏)','청풍김씨(淸風金氏)','청해이씨(靑海李氏)','초계변씨(草溪卞氏)','초계정씨(草溪鄭氏)','초계최씨(草溪崔氏)','추계추씨(秋溪秋氏)','충주박씨(忠州朴氏)','충주지씨(忠州池氏)','충주최씨(忠州崔氏)','칠원윤씨(漆原尹氏)','칠원제씨(漆原諸氏)','탐진안씨(耽津安氏)','탐진최씨(耽津崔氏)','태원선우씨(太原鮮于氏)','태인경씨(泰仁景氏)','태인시씨(泰仁柴氏)','파주염씨(坡州廉氏)','파평윤씨(坡平尹氏)','평강채씨(平康蔡氏)','평산신씨(平山申氏)','평양조씨(平壤趙氏)','평창이씨(平昌李氏)','평택임씨(平澤林氏)','평해구씨(平海丘氏)','평해손씨(平海孫氏)','평해황씨(平海黃氏)','풍기진씨(豊基秦氏)','풍산류씨(豊山柳氏)','풍산홍씨(豊山洪氏)','풍양조씨(豊壤趙氏)','풍천노씨(豊川盧氏)','풍천임씨(豊川任氏)','하남정씨(河南程氏)','하동정씨(河東鄭氏)','하빈이씨(河濱李氏)','하음봉씨(河陰奉氏)','학성이씨(鶴城李氏)','한산이씨(韓山李氏)','한양조씨(漢陽趙氏)','함안이씨(咸安李氏)','함안조씨(咸安趙氏)','함양박씨(咸陽朴氏)','함양여씨(咸陽呂氏)','함양오씨(咸陽吳氏)','함열남궁씨(咸悅南宮氏)','함종어씨(咸從魚氏)','함창김씨(咸昌金氏)','함평노씨(咸平魯氏)','함평모씨(咸平牟氏)','함평이씨(咸平李氏)','합천이씨(陜川李氏)','해남윤씨(海南尹氏)','해주오씨(海州吳氏)','해주정씨(海州鄭氏)','해주최씨(海州崔氏)','해평길씨(海平吉氏)','해평윤씨(海平尹氏)','행주기씨(幸州奇氏)','행주은씨(幸州殷氏)','현풍곽씨(玄風郭氏)','홍산순씨(鴻山荀氏)','홍주석씨(洪州石氏)','홍주이씨(洪州李氏)','홍천용씨(洪川龍氏)','화순최씨(和順崔氏)','회산감씨(檜山甘氏)','효령사공씨(孝令司空氏)','흥덕장씨(興德張氏)','흥양이씨(興陽李氏)']
    -var fnVal = ['江陵金氏','江陵朴氏','江陵劉氏','江陵崔氏','江陵咸氏','江陰段氏','江華魯氏','江華韋氏','江華崔氏','開城金氏','開城王氏','巨濟潘氏','居昌愼氏','居昌章氏','結城張氏','慶山金氏','慶山全氏','慶州金氏','慶州裵氏','慶州昔氏','慶州薛氏','慶州孫氏','慶州李氏','慶州林氏','慶州鄭氏','慶州崔氏','高靈金氏','高靈朴氏','高靈申氏','古阜李氏','固城金氏','固城李氏','高敞吳氏','高興柳氏','曲阜孔氏','谷山延氏','公州李氏','光山金氏','光山李氏 ','光山卓氏','廣州金氏','光州盧氏','廣州安氏','廣州李氏','光州鄭氏','廣川董氏','槐山皮氏','喬桐印氏','交河盧氏','軍威吳氏','金溝溫氏','錦山金氏','錦城羅氏','錦城范氏','杞溪兪氏','金寧金氏','金堤趙氏','金浦公氏','金海金氏','金海許氏','羅州金氏','羅州羅氏','羅州吳氏','羅州林氏','羅州丁氏','羅州鄭氏','南陽葛氏','南陽房氏','南陽諸葛氏','南陽洪氏','南原獨孤氏 ','南原梁氏','南原楊氏','南原尹氏','南原晋氏','南平文氏','朗州崔氏','綾城具氏','丹陽禹氏','丹陽李氏','丹陽張氏','達城裵氏','達城賓氏','達城徐氏','達城夏氏','潭陽鞠氏','潭陽田氏','德水李氏','德水張氏','道康金氏','東萊鄭氏','同福吳氏','東州崔氏','杜陵杜氏','沔川卜氏','木川尙氏','茂松庾氏','茂松尹氏','務安朴氏','聞慶錢氏','文義朴氏','文化柳氏','密城朴氏','密陽唐氏','密陽孫氏','潘南朴氏','白川趙氏','碧珍李氏','寶城宣氏 ','寶城吳氏','鳳山智氏','奉化琴氏','奉化鄭氏','扶安金氏','扶安林氏','扶餘徐氏','盆城裵氏','泗川睦氏','朔寧崔氏','三陟金氏','上谷麻氏 ','商山金氏','尙州朴氏','尙州周氏','瑞山柳氏','瑞山鄭氏','瑞興金氏','善山金氏','星山李氏','星山李氏','星州都氏','星州裵氏','星州李氏','蘇州賈氏','隋城崔氏','遂安桂氏','遂安李氏','水原金氏','水原白氏','淳昌薛氏','順天金氏','順天朴氏','順興安氏','新安朱氏','新昌孟氏','新昌表氏','信川康氏','新平宋氏','新平李氏','新平扈氏','牙山將氏','鵝州申氏','安東權氏','安東金氏','安東孫氏','安東張氏','安山金氏','安城李氏','安陰西門氏','冶城宋氏','陽城李氏','楊州趙氏','陽川許氏','彦陽金氏','礪山宋氏','驪陽陳氏','驪州李氏','驪興閔氏','延安金氏','延安明氏','延安李氏','延安車氏','延日承氏','延日鄭氏','延州玄氏','靈光金氏','靈光丁氏','永山金氏','靈山辛氏','永順太氏','英陽南氏','穎陽千氏','寧越嚴氏','寧川李氏','永川李氏','永川崔氏','永川皇甫氏','寧海朴氏','禮安金氏','醴泉林氏','玉山全氏','玉川邕氏','沃川陸氏','玉川趙氏','溫陽方氏','溫陽鄭氏','龍仁李氏','羽溪李氏','牛峰李氏','紆州黃氏','蔚山金氏','蔚山朴氏','蔚珍張氏','原州邊氏','原州元氏','原州李氏','月城朴氏','恩津宋氏','宜寧南氏','宜寧余氏','宜寧玉氏','義城金氏','義興芮氏','利川徐氏','仁同張氏','仁川李氏','仁川蔡氏','長水李氏','長水黃氏','長興馬氏','長興魏氏','長興任氏','載寧李氏','全義李氏','全州甄氏','全州金氏','全州柳氏','全州李氏','全州崔氏','浙江施氏','浙江片氏','旌善全氏','濟州高氏','濟州夫氏','濟州梁氏','兆陽林氏','竹山朴氏','竹山安氏','竹山陰氏','眞寶李氏','晋陽河氏','珍原朴氏','晋州姜氏','晋州柳氏','晋州蘇氏','晋州鄭氏','晋州河氏','晋州邢氏','鎭川宋氏','昌寧成氏','昌寧曺氏','昌原具氏','昌原丁氏','昌原黃氏','天安全氏','淸道金氏','靑松沈氏','淸安李氏','淸州慶氏','淸州金氏','淸州史氏','淸州楊氏','淸州李氏','淸州鄭氏','淸州左氏','淸州韓氏','淸風金氏','靑海李氏','草溪卞氏','草溪鄭氏','草溪崔氏','秋溪秋氏','忠州朴氏','忠州池氏','忠州崔氏','漆原尹氏','漆原諸氏','耽津安氏','耽津崔氏','太原鮮于氏','泰仁景氏','泰仁柴氏','坡州廉氏','坡平尹氏','平康蔡氏','平山申氏','平壤趙氏','平昌李氏','平澤林氏','平海丘氏','平海孫氏','平海黃氏','豊基秦氏','豊山柳氏','豊山洪氏','豊壤趙氏','豊川盧氏','豊川任氏','河南程氏','河東鄭氏','河濱李氏','河陰奉氏','鶴城李氏','韓山李氏','漢陽趙氏','咸安李氏','咸安趙氏','咸陽朴氏','咸陽呂氏','咸陽吳氏','咸悅南宮氏','咸從魚氏','咸昌金氏','咸平魯氏','咸平牟氏','咸平李氏','陜川李氏','海南尹氏','海州吳氏','海州鄭氏','海州崔氏','海平吉氏','海平尹氏','幸州奇氏','幸州殷氏','玄風郭氏','鴻山荀氏','洪州石氏','洪州李氏','洪川龍氏','和順崔氏','檜山甘氏','孝令司空氏','興德張氏','興陽李氏']
    div.container
        form(method="post" onsubmit="setForm()" id='appForm')
            if(phone!=undefined)
                input(type='hidden' value=phone name='pnum')
            if(id!=undefined)
                input(type='hidden' value=id name='id')
            table(id="table").table
                thead
                    th(colspan=8) 世譜收單紙
                tr
                    th(colspan=2) 문중
                    td(colspan=2).input
                        input(name="clan" value=(json == undefined ? '' : json.clan))
                    td(colspan=2).input
                        input(name="clan2" value=(json == undefined ? '' : json.clan2))
                    td.new(colspan=2)
                        if(json != undefined && json.new != '신규')
                            input(type="radio" name="new" value="신규")
                            | 신규
                            input(type="radio" name="new" value="개정" checked)
                            | 개정
                        else
                            input(type="radio" name="new" value="신규" checked)
                            | 신규
                            input(type="radio" name="new" value="개정")
                            | 개정
                        img(src="/img/man.png")
                tr
                    th(colspan=2 rowspan=2) 작성자
                    td 이름
                    td.input
                        input(name="writer" value=(json == undefined ? '' : json.writer) required)
                    td.tel(colspan=4)
                        span H.P
                        span.input
                            input(name="phone" value=(json == undefined ? '' : json.phone) required)
                        span 집전화
                        span.input
                            input(name="tel" value=(json == undefined ? '' : json.tel))
                tr
                    td 주소
                    td(colspan=5).input
                        input(name="address" value=(json == undefined ? '' : json.address))
                    td
                tr.head
                    th(colspan=2) 항목
                    th(colspan=5) 수단작성
                    th.remark 비고
                    th 등재결과
                tr
                    td.gray(rowspan=4) 淵源
                    th 증조(曾祖)
                    td 漢字
                    td.input
                        input(name="ggrd" value=(json == undefined ? '' : json.ggrd) required)
                    td 한글
                    td.input
                        input(name="ggrd_kor" value=(json == undefined ? '' : json.ggrd_kor) required)
                    td
                    td.remark.lightpink ← 필수기재
                    td.result
                tr
                    th 조부(祖父)
                    td 漢字
                    td.input
                        input(name="grd" value=(json == undefined ? '' : json.grd) required)
                    td 한글
                    td.input
                        input(name="grd_kor" value=(json == undefined ? '' : json.grd_kor) required)
                    td
                    td.remark.lightpink ← 필수기재
                    td.result
                tr
                    th 친부(親父)
                    td 漢字
                    td.input
                        input(name="dad" value=(json == undefined ? '' : json.dad) required)
                    td 한글
                    td.input
                        input(name="dad_kor" value=(json == undefined ? '' : json.dad_kor) required)
                    td.input 의
                        select(name="odr")
                            option(value = "")
                            option(value = "長子" selected=(json == undefined ? false : json.odr == '長子')) 長
                            option(value = "次子" selected=(json == undefined ? false : json.odr == '次子')) 次
                            option(value = "三子" selected=(json == undefined ? false : json.odr == '三子')) 三
                            option(value = "四子" selected=(json == undefined ? false : json.odr == '四子')) 四
                            option(value = "五子" selected=(json == undefined ? false : json.odr == '五子')) 五
                            option(value = "六子" selected=(json == undefined ? false : json.odr == '六子')) 六
                            option(value = "七子" selected=(json == undefined ? false : json.odr == '七子')) 七
                            option(value = "八子" selected=(json == undefined ? false : json.odr == '八子')) 八
                            option(value = "九子" selected=(json == undefined ? false : json.odr == '九子')) 九
                            option(value = "拾子" selected=(json == undefined ? false : json.odr == '拾子')) 拾
                        | 子
                    td.remark.lightpink ← 필수기재
                    td.result
                tr
                    th 계부(系父)
                    td 漢字
                    td.input
                        input(name="fdad" value=(json == undefined ? '' : json.fdad))
                    td 한글
                    td.input
                        input(name="fdad_kor" value=(json == undefined ? '' : json.fdad_kor))
                    td.input 의
                        select(name="odr2")
                            option(value = "")
                            option(value = "長子" selected=(json == undefined ? false : json.odr2 == '長子')) 長
                            option(value = "次子" selected=(json == undefined ? false : json.odr2 == '次子')) 次
                            option(value = "三子" selected=(json == undefined ? false : json.odr2 == '三子')) 三
                            option(value = "四子" selected=(json == undefined ? false : json.odr2 == '四子')) 四
                            option(value = "五子" selected=(json == undefined ? false : json.odr2 == '五子')) 五
                            option(value = "六子" selected=(json == undefined ? false : json.odr2 == '六子')) 六
                            option(value = "七子" selected=(json == undefined ? false : json.odr2 == '七子')) 七
                            option(value = "八子" selected=(json == undefined ? false : json.odr2 == '八子')) 八
                            option(value = "九子" selected=(json == undefined ? false : json.odr2 == '九子')) 九
                            option(value = "拾子" selected=(json == undefined ? false : json.odr2 == '拾子')) 拾
                        | 子
                    td
                    td.result
                tr
                    td.gray(rowspan=12) 本人
                tr
                    th 世
                    td(colspan=6).input-left
                        span 杏山
                            select(name="line")
                                option(value='')
                                option(value='十' selected=(json == undefined ? false : json.line == '十')) 10
                                option(value='十一' selected=(json == undefined ? false : json.line == '十一')) 11
                                option(value='十二' selected=(json == undefined ? false : json.line == '十二')) 12
                                option(value='十三' selected=(json == undefined ? false : json.line == '十三')) 13
                                option(value='十四' selected=(json == undefined ? false : json.line == '十四')) 14
                                option(value='十五' selected=(json == undefined ? false : json.line == '十五')) 15
                                option(value='十六' selected=(json == undefined ? false : json.line == '十六')) 16
                                option(value='十七' selected=(json == undefined ? false : json.line == '十七')) 17
                                option(value='十八' selected=(json == undefined ? false : json.line == '十八')) 18
                                option(value='十九' selected=(json == undefined ? false : json.line == '十九')) 19
                                option(value='二十' selected=(json == undefined ? false : json.line == '十十')) 20
                                option(value='二十一' selected=(json == undefined ? false : json.line == '二十一')) 21
                                option(value='二十二' selected=(json == undefined ? false : json.line == '二十二')) 22
                                option(value='二十三' selected=(json == undefined ? false : json.line == '二十三')) 23
                                option(value='二十四' selected=(json == undefined ? false : json.line == '二十四')) 24
                                option(value='二十五' selected=(json == undefined ? false : json.line == '二十五')) 25
                                option(value='二十六' selected=(json == undefined ? false : json.line == '二十六')) 26
                                option(value='二十七' selected=(json == undefined ? false : json.line == '二十七')) 27
                                option(value='二十八' selected=(json == undefined ? false : json.line == '二十八')) 28
                                option(value='二十九' selected=(json == undefined ? false : json.line == '二十九')) 29
                                option(value='三十' selected=(json == undefined ? false : json.line == '三十')) 30
                                option(value='三十一' selected=(json == undefined ? false : json.line == '三十一')) 31
                                option(value='三十二' selected=(json == undefined ? false : json.line == '三十二')) 32
                                option(value='三十三' selected=(json == undefined ? false : json.line == '三十三')) 33
                                option(value='三十四' selected=(json == undefined ? false : json.line == '三十四')) 34
                                option(value='三十五' selected=(json == undefined ? false : json.line == '三十五')) 35
                        | 世
                    td.result
                tr
                    th 보명(譜名)
                    td 漢字
                    td.input
                        input(name="name" onfocusout="setResult(this)" value=(json == undefined ? '' : json.name) required)
                    td 한글
                    td.input
                        input(name="kor" value=(json == undefined ? '' : json.kor) required)
                    td
                    td.remark.lightpink ← 필수기재
                    td.result
                        span(id="name")=(json == undefined ? '' : json.name)
                tr
                    th 별칭(別稱)
                    td 漢字
                    td.input
                        input(name="alias" onfocusout="setResult(this)" value=(json == undefined ? '' : json.alias))
                    td 한글
                    td.input
                        input(name="alias_kor" value=(json == undefined ? '' : json.alias_kor))
                    td
                    td.remark.lightpink 一名,初諱,籍名,家名
                    td.result
                        span(id="alias")=(json == undefined ? '' : json.alias)
                tr
                    th 자(字)
                    td 漢字
                    td.input
                        input(name="ja" onfocusout="setResult(this)" value=(json == undefined ? '' : json.ja))
                    td 한글
                    td.input
                        input(name="ja_kor" value=(json == undefined ? '' : json.ja_kor))
                    td
                    td
                    td.result
                        span(id="ja")=(json == undefined ? '' : json.ja == '' ? '' : '字' + json.ja)
                tr
                    th 호(號)
                    td 漢字
                    td.input
                        input(name="ho" onfocusout="setResult(this)" value=(json == undefined ? '' : json.ho))
                    td 한글
                    td.input
                        input(name="ho_kor" value=(json == undefined ? '' : json.ho_kor))
                    td
                    td
                    td.result
                        span(id="ho")=(json == undefined ? '' : json.ho == '' ? '' : '號' + json.ho)
                tr
                    th 작위(爵位)
                    td(colspan=5).input
                        input(name="honor" onfocusout="setResult(this)" value=(json == undefined ? '' : json.honor))
                    td.remark.lightpink 벼슬,관직,직함 등
                    td.result
                        span(id="honor")=(json == undefined ? '' : json.honor)
                tr
                    th 생일(陰)
                    td(colspan=5).date
                        if(json == undefined || json.birthc == undefined)
                            span(name="birth" id="birthcs" onfocusout="setDateResult(this)")
                                span
                                    select.king(name="king")
                                        option(value='') 묘호
                                        -for(var i=0;i<kingSel.length;i++)
                                            option(value=kingVal[i] selected=kingVal[i] == (json == undefined ? '' : json.king[date]))=kingSel[i]
                                span
                                    select.year(name="year")
                                        option(value='') 년도
                                        -for(var i=0;i<yearSel.length;i++)
                                            option(value=yearVal[i] selected=yearVal[i] == (json == undefined ? '' : json.year[date]))=yearSel[i]
                                span
                                    select(name="month")
                                        option(value='')
                                        -for(var i=0;i<monthVal.length;i++)
                                            option(value=monthVal[i] selected=monthVal[i] == (json == undefined ? '' : json.month[date]))=('0'+(i + 1)).slice(-2)
                                    | 월
                                    select(name="day")
                                        option(value='')
                                        -for(var i=0;i<dayVal.length;i++)
                                            option(value=dayVal[i] selected=dayVal[i] == (json == undefined ? '' : json.day[date]))=('0'+(i + 1)).slice(-2)
                                    | 일
                            input(name="birth" id="birthci" onfocusout="setResult(this)" style="display:none;")
                        else
                            span(name="birth" id="birthcs" onfocusout="setDateResult(this)" style="display:none;")
                                span
                                    select.king(name="king")
                                        option(value='') 묘호
                                        -for(var i=0;i<kingSel.length;i++)
                                            option(value=kingVal[i])=kingSel[i]
                                span
                                    select.year(name="year")
                                        option(value='') 년도
                                        -for(var i=0;i<yearSel.length;i++)
                                            option(value=yearVal[i])=yearSel[i]
                                span
                                    select(name="month")
                                        option(value='')
                                        -for(var i=0;i<monthVal.length;i++)
                                            option(value=monthVal[i])=('0'+(i + 1)).slice(-2)
                                    | 월
                                    select(name="day")
                                        option(value='')
                                        -for(var i=0;i<dayVal.length;i++)
                                            option(value=dayVal[i])=('0'+(i + 1)).slice(-2)
                                    | 일
                            input(name="birth" id="birthci" onfocusout="setResult(this)" value=json.birth)
                        -date++
                    td.remark
                        if(json == undefined || json.birthc == undefined)
                            input(type="checkbox" id="birthc" onchange="dirInput(this)" name='birthc' value='1')
                        else
                            input(type="checkbox" id="birthc" onchange="dirInput(this)" name='birthc' value='1' checked)
                        label 직접입력
                    td.result
                        span(id="birth")=(json == undefined ? '' : json.birth == '' ? ''  :  '生'+json.birth)
                tr
                    th 졸일(陰)
                    td(colspan=5).date
                        if(json == undefined || json.deathc == undefined)
                            span(name="death" id="deathcs" onfocusout="setDateResult(this)")
                                span
                                    select.king(name="king")
                                        option(value='') 묘호
                                        -for(var i=0;i<kingSel.length;i++)
                                            option(value=kingVal[i] selected=kingVal[i] == (json == undefined ? '' : json.king[date]))=kingSel[i]
                                span
                                    select.year(name="year")
                                        option(value='') 년도
                                        -for(var i=0;i<yearSel.length;i++)
                                            option(value=yearVal[i] selected=yearVal[i] == (json == undefined ? '' : json.year[date]))=yearSel[i]
                                span
                                    select(name="month")
                                        option(value='')
                                        -for(var i=0;i<monthVal.length;i++)
                                            option(value=monthVal[i] selected=monthVal[i] == (json == undefined ? '' : json.month[date]))=('0'+(i + 1)).slice(-2)
                                    | 월
                                    select(name="day")
                                        option(value='')
                                        -for(var i=0;i<dayVal.length;i++)
                                            option(value=dayVal[i] selected=dayVal[i] == (json == undefined ? '' : json.day[date]))=('0'+(i + 1)).slice(-2)
                                    | 일
                            input(name="death" id="deathci" onfocusout="setResult(this)" style="display:none;")
                        else
                            span(name="death" id="deathcs" onfocusout="setDateResult(this)" style="display:none;")
                                span
                                    select.king(name="king")
                                        option(value='') 묘호
                                        -for(var i=0;i<kingSel.length;i++)
                                            option(value=kingVal[i])=kingSel[i]
                                span
                                    select.year(name="year")
                                        option(value='') 년도
                                        -for(var i=0;i<yearSel.length;i++)
                                            option(value=yearVal[i])=yearSel[i]
                                span
                                    select(name="month")
                                        option(value='')
                                        -for(var i=0;i<monthVal.length;i++)
                                            option(value=monthVal[i])=('0'+(i + 1)).slice(-2)
                                    | 월
                                    select(name="day")
                                        option(value='')
                                        -for(var i=0;i<dayVal.length;i++)
                                            option(value=dayVal[i])=('0'+(i + 1)).slice(-2)
                                    | 일
                            input(name="death" id="deathci" onfocusout="setResult(this)" value=json.death)
                        -date++
                    td.remark
                        if(json == undefined || json.deathc == undefined)
                            input(type="checkbox" id="deathc" onchange="dirInput(this)" name='deathc' value='1')
                        else
                            input(type="checkbox" id="deathc" onchange="dirInput(this)" name='deathc' value='1' checked)
                        label 직접입력
                    td.result
                        span(id="death")=(json == undefined ? '' : json.death=='' ? '' : '卒'+json.death)
                tr
                    th 수(壽)
                    td(colspan=6).input-left
                        span 享年
                            select(name="age" onfocusout="setResult(this)")
                                option(value='')
                                -for(var i=0;i<ageVal.length;i++)
                                    option(value=ageVal[i] selected=ageVal[i] == (json == undefined ? '' : json.age))=('0'+(i + 20)).slice(-3)
                        | 歲
                    td.result
                        span(id="age")=(json == undefined ? '' : json.age == '' ? '' : '享年' + json.age + '歲')
                tr
                    th 전기(傳記)
                    td(colspan=6).input
                        textarea(name="record" onfocusout="setResult(this)")=(json == undefined ? '' : json.record)
                    td.result
                        span(id="record")=(json == undefined ? '' : json.record)
                tr
                    th 묘(墓)
                    td(colspan=6).input
                        input(name="grave" onfocusout="setResult(this)" value=(json == undefined ? '' : json.grave))
                    td.result
                        span(id="grave")=(json == undefined ? '' : json.grave == '' ? '' : '墓' + json.grave)
                if(json != undefined && json.wife != undefined)
                    -for(var i=0;i<json.wife.length;i++)
                        tr(class=i.toString())
                            td.gray(rowspan=7)='配位 ' + (i + 1)
                            th 본관성씨
                            td 貫鄕
                            td.input-left(colspan=4)
                                if(json.wife[i].familyc == undefined)
                                    select(name="wife[" + i + "][familyc]s" id="wife[" + i + "][familyc]s" onfocusout="setFamilyResult(this)")
                                        option(value='')
                                        -for(var j=0;j<fnVal.length;j++)
                                            option(value=fnVal[j] selected=fnVal[j] == json.wife[i].family)=fnSel[j]
                                    input(name="wife[" + i + "][family]" id="wife[" + i + "][familyc]i" onfocusout="setResult(this)" style="display:none;")
                                else
                                    select(name="wife[" + i + "][familyc]s" id="wife[" + i + "][familyc]s" onfocusout="setFamilyResult(this)" style="display:none;")
                                        option(value='')
                                        -for(var j=0;j<fnVal.length;j++)
                                            option(value=fnVal[j])=fnSel[j]
                                    input(name="wife[" + i + "][family]" id="wife[" + i + "][familyc]i" onfocusout="setResult(this)" value=json.wife[i].family)
                            td.remark
                                if(json.wife[i].familyc == undefined)
                                    input(type="checkbox" id="wife[" + i + "][familyc]" onchange="fdirInput(this)" name="wife[" + i + "][familyc]" value='1')
                                else
                                    input(type="checkbox" id="wife[" + i + "][familyc]" onchange="fdirInput(this)" name="wife[" + i + "][familyc]" value='1' checked)
                                label 직접입력
                            td.result
                                span(id="wife[" + i + "][family]")=json.wife[i].family
                        tr(class=i.toString())
                            th 보명
                            td 漢字
                            td.input
                                input(name="wife[" + i + "][name]" onfocusout="setResult(this)" value=json.wife[i].name)
                            td 한글
                            td.input
                                input(name="wife[" + i + "][kor]" value=json.wife[i].kor)
                            td
                            td.remark.lightpink 성씨제외
                            td.result
                                span(id="wife[" + i + "][name]")=json.wife[i].name
                        tr(class=i.toString())
                            th 친정정보
                            td.input(colspan=5)
                                input(name="wife[" + i + "][info]" onfocusout="setResult(this)" value=json.wife[i].info)
                            td.remark.lightpink 부친작위, 부친존함
                            td.result
                                span(id="wife[" + i + "][info]")=json.wife[i].info
                        tr(class=i.toString())
                            th 생일(陰)
                            td(colspan=5).date
                                if(json.wife[i].birthc == undefined)
                                    span(name="wife["+i+"][birth]" id="wife[" + i + "][birthc]s" onfocusout="setDateResult(this)")
                                        span
                                            select.king(name="king")
                                                option(value='') 묘호
                                                -for(var j=0;j<kingSel.length;j++)
                                                    option(value=kingVal[j] selected=kingVal[j] == json.king[date])=kingSel[j]
                                        span
                                            select.year(name="year")
                                                option(value='') 년도
                                                -for(var j=0;j<yearSel.length;j++)
                                                    option(value=yearVal[j] selected=yearVal[j] == json.year[date])=yearSel[j]
                                        span
                                            select(name="month")
                                                option(value='')
                                                -for(var j=0;j<monthVal.length;j++)
                                                    option(value=monthVal[j] selected=monthVal[j] == json.month[date])=('0'+(j + 1)).slice(-2)
                                            | 월
                                            select(name="day")
                                                option(value='')
                                                -for(var j=0;j<dayVal.length;j++)
                                                    option(value=dayVal[j] selected=dayVal[j] == json.day[date])=('0'+(j + 1)).slice(-2)
                                            | 일
                                    input(name="wife["+i+"][birth]" id="wife[" + i + "][birthc]i" onfocusout="setResult(this)" style="display:none;")
                                else
                                    span(name="wife["+i+"][birth]" id="wife[" + i + "][birthc]s" onfocusout="setDateResult(this)" style="display:none;")
                                        span
                                            select.king(name="king")
                                                option(value='') 묘호
                                                -for(var j=0;j<kingSel.length;j++)
                                                    option(value=kingVal[j])=kingSel[j]
                                        span
                                            select.year(name="year")
                                                option(value='') 년도
                                                -for(var j=0;j<yearSel.length;j++)
                                                    option(value=yearVal[j])=yearSel[j]
                                        span
                                            select(name="month")
                                                option(value='')
                                                -for(var j=0;j<monthVal.length;j++)
                                                    option(value=monthVal[j])=('0'+(j + 1)).slice(-2)
                                            | 월
                                            select(name="day")
                                                option(value='')
                                                -for(var j=0;j<dayVal.length;j++)
                                                    option(value=dayVal[j])=('0'+(j + 1)).slice(-2)
                                            | 일
                                    input(name="wife[" + i + "][birth]" id="wife[" + i + "][birthc]i" onfocusout="setResult(this)" value=json.wife[i].birth)
                                -date++
                            td.remark
                                if(json.wife[i].birthc == undefined)
                                    input(type="checkbox" id="wife[" + i + "][birthc]" onchange="dirInput(this)" name="wife[" + i + "][birthc]" value='1')
                                else
                                    input(type="checkbox" id="wife[" + i + "][birthc]" onchange="dirInput(this)" name="wife[" + i + "][birthc]" value='1' checked)
                                label 직접입력
                            td.result
                                span(id="wife[" + i + "][birth]")=(json == undefined ? '' : json.wife[i].birth == '' ? '' : '生'+json.wife[i].birth)
                        tr(class=i.toString())
                            th 졸일(陰)
                                td(colspan=5).date
                                    if(json.wife[i].deathc == undefined)
                                        span(name="wife["+i+"][death]" id="wife[" + i + "][deathc]s" onfocusout="setDateResult(this)")
                                            span
                                                select.king(name="king")
                                                    option(value='') 묘호
                                                    -for(var j=0;j<kingSel.length;j++)
                                                        option(value=kingVal[j] selected=kingVal[j] == json.king[date])=kingSel[j]
                                            span
                                                select.year(name="year")
                                                    option(value='') 년도
                                                    -for(var j=0;j<yearSel.length;j++)
                                                        option(value=yearVal[j] selected=yearVal[j] == json.year[date])=yearSel[j]
                                            span
                                                select(name="month")
                                                    option(value='')
                                                    -for(var j=0;j<monthVal.length;j++)
                                                        option(value=monthVal[j] selected=monthVal[j] == json.month[date])=('0'+(j + 1)).slice(-2)
                                                | 월
                                                select(name="day")
                                                    option(value='')
                                                    -for(var j=0;j<dayVal.length;j++)
                                                        option(value=dayVal[j] selected=dayVal[j] == json.day[date])=('0'+(j + 1)).slice(-2)
                                                | 일
                                        input(name="wife["+i+"][death]" id="wife[" + i + "][deathc]i" onfocusout="setResult(this)" style="display:none;")
                                    else
                                        span(name="wife["+i+"][death]" id="wife[" + i + "][deathc]s" onfocusout="setDateResult(this)" style="display:none;")
                                            span
                                                select.king(name="king")
                                                    option(value='') 묘호
                                                    -for(var j=0;j<kingSel.length;j++)
                                                        option(value=kingVal[j])=kingSel[j]
                                            span
                                                select.year(name="year")
                                                    option(value='') 년도
                                                    -for(var j=0;j<yearSel.length;j++)
                                                        option(value=yearVal[j])=yearSel[j]
                                            span
                                                select(name="month")
                                                    option(value='')
                                                    -for(var j=0;j<monthVal.length;j++)
                                                        option(value=monthVal[j])=('0'+(j + 1)).slice(-2)
                                                | 월
                                                select(name="day")
                                                    option(value='')
                                                    -for(var j=0;j<dayVal.length;j++)
                                                        option(value=dayVal[j])=('0'+(j + 1)).slice(-2)
                                                | 일
                                        input(name="wife[" + i + "][death]" id="wife[" + i + "][deathc]i" onfocusout="setResult(this)" value=json.wife[i].death)
                                    -date++
                                td.remark
                                    if(json.wife[i].deathc == undefined)
                                        input(type="checkbox" id="wife[" + i + "][deathc]" onchange="dirInput(this)" name="wife[" + i + "][deathc]" value='1')
                                    else
                                        input(type="checkbox" id="wife[" + i + "][deathc]" onchange="dirInput(this)" name="wife[" + i + "][deathc]" value='1' checked)
                                    label 직접입력
                                td.result
                                    span(id="wife[" + i + "][death]")=(json == undefined ? '' : json.wife[i].death == '' ? '' : '卒'+json.wife[i].death)
                        tr(class=i.toString())
                            th 수
                            td.input-left(colspan=6)
                                span 享年
                                    select(name="wife[" + i + "][age]" onfocusout="setResult(this)")
                                        option(value='')
                                        -for(var j=0;j<ageVal.length;j++)
                                            option(value=ageVal[j] selected=ageVal[j] == json.wife[i].age)=('0'+(j + 20)).slice(-3)
                                | 歲
                            td.result
                                span(id="wife[" + i + "][age]")=json.wife[i].age=='' ? '' : '享年' + json.wife[i].age + '歲'
                        tr(class=i.toString())
                            th 묘(墓)
                            td(colspan=6).input
                                input(name="wife[" + i + "][grave]" onfocusout="setResult(this)" value=json.wife[i].grave)
                            td.result
                                span(id="wife[\"+i+\"][grave]")=json.wife[i].grave=='' ? '' : '墓' + json.wife[i].grave
                tr(id="wife")
                    td.gray 配位
                    td(colspan=8).input-left
                        button(type="button" onclick="addWife()") +
                        button(type="button" onclick="removeWife()") -
            div.submit
                button(onclick='back(); return false;') 목록
                input(type="submit" value='저장')